@charset 'UTF-8';

// ==== UI ===============================================================
// Auth
// =======================================================================


// ==== Auth ================================
// Modal
// ==========================================

.modal--auth {

  .modal {

    &__wrapper {
      max-width: unit(modal-content-padding-mobile) * 2 + unit(auth-width);

      @include min-width(tp(modal-mobile)) {
        max-width: unit(modal-content-padding) * 2 + unit(auth-width);
      }
    }
  }

  .auth {
    padding: 0;
    width: 100%;
  }
}


// ==== Auth ================================
// Base
// ==========================================

.auth {
  max-width: unit(auth-width);

  .form {
    max-width: none;
  }
}
