@charset 'UTF-8';

// ==== UI ===============================================================
// Footer
// =======================================================================


// ==== Footer ==============================
// Base
// ==========================================

.footer {
  background: module-color(footer-bg);
  color: module-color(footer-color);

  .group {
    padding: unit(base-gutter) 0;
  }
}
