@charset 'UTF-8';

// ==== UI ===============================================================
// Footer
// =======================================================================


// ==== Footer ==============================
// Base
// ==========================================

.footer {

  .group {
    padding: unit(base-gutter) 0 unit(base-gutter) * 2;
  }

  .small {

    &::before {
      background-color: var(--accent-AA);

      content: '';
      display: block;
      width: 100%;
      height: 1px; // TODO: Var
      max-width: rem(160);
      margin: 0 0 unit(base-gutter) * 2;
    }
  }

  .link {
    color: inherit;
  }
}
