@charset 'UTF-8';

// ==== UI ===============================================================
// Footer
// =======================================================================


// ==== Footer ==============================
// Base
// ==========================================

.footer {
  background: module-color(footer-bg);
  color: module-color(footer-color);

  .group {
    padding: unit(base-gutter) 0 unit(base-gutter) * 2;
  }

  .small {

    &::before {
      @include accent(background-color);

      content: '';
      display: block;
      width: 100%;
      height: 1px; // TODO: Var
      max-width: rem(160);
      margin: 0 0 unit(base-gutter) * 2;
    }
  }

  .link {
    color: inherit;
  }
}
