@charset 'UTF-8';

// ==== UI ===============================================================
// Loader
// =======================================================================


// ==== Loader ==============================
// Set timing variable
// ==========================================

.component-fade-enter-active,
.component-fade-leave-active {
  transition-duration: $timing-transition;
}


// ==== Loader ==============================
// Base
// ==========================================

.loader {
  @include cover(fixed);

  overflow: hidden;
  pointer-events: none;
  // z-index: $loader-z-index;
  z-index: 999;

  &__layer {
    $layer-size: 150vmax;

    @include cover;

    background: module-color(loader-bg);
    pointer-events: auto;
  }
}


// ==== Loader ==============================
// Interaction
// ==========================================

.loader {

  // Transition Out
  transform: translateX(100vw);
  transition:
    transform 0ms $timing-transition; // sass-lint:disable-line indentation

  &__layer {
    animation: loader-out $timing-transition both cubic-bezier(.71, .56, .13, 1);

    &--bg {
      background: module-color(loader-bg);
    }

    &--accent {
      background: module-color(loader-bg-accent);
    }

    @keyframes loader-out {
      0% {
        transform: none;
      }

      100% {
        transform: translateX(100%);
      }
    }
  }

  // Transition In
  &.is--active {
    transform: none;
    transition-delay: 0ms;

    .loader__layer {
      animation-name: loader-in;
      animation-easing: ease-out;

      &--bg {
        animation-duration: $timing-transition / 2;
      }

      &--accent {
        animation-delay: $timing-transition * 0.33;
        animation-duration: $timing-transition * 0.66;
      }

      @keyframes loader-in {
        0% {
          transform: translateX(-100%);
        }

        100% {
          transform: none;
        }
      }
    }
  }

  &.is--intro {
    transform: none;
    transition-delay: 0ms;

    .loader__layer {
      animation: none;
    }
  }
}
