@charset 'UTF-8';

// ==== UI ===============================================================
// Navigation
// =======================================================================


// ==== Navigation ==========================
// Base
// ==========================================

.navigation {
  max-width: none;

  &__item {
    display: inline-block;
    letter-spacing: 0.01em; // TODO: Var
    position: relative;
    vertical-align: middle;
  }

  &__link {
    color: inherit;
    display: block;
    line-height: unit(navigation-item-height) - (unit(navigation-item-padding) * 2);
    padding: unit(navigation-item-padding);
    position: relative;
    text-decoration: none;

    @include max-width(tp(header-small)) {
      padding-top: unit(navigation-item-padding) / 2;

      .navigation__item:first-child & {
        margin-left: unit(navigation-item-padding) * -1;
      }
    }

    @at-root {

      %nav-link-active {
        content: '';
      }
    }

    &--active {
      @extend %nav-link-active;
    }

    .router-link-active > & {
      @extend %nav-link-active;
    }

    &:hover {
      opacity: 1;

      .navigation__marker {

        &::before {
          transform: scale(1);
          transform-origin: center left;
        }
      }
    }
  }

  &__marker {
    bottom: 0;
    position: absolute;
    left: unit(navigation-item-padding);
    height: 2px; // TODO: Var
    right: unit(navigation-item-padding);

    @include min-width(tp(header-small)) {
      bottom: auto;
      left: 0;
      right: 0;
      top: (unit(header-height) - unit(navigation-item-height)) / -2;
    }

    @include min-width(tp(header-fixed)) {
      transform: translateY(#{unit(header-offset) * -1});
      transition:
        transform $timing $easing;

      .header--scrolled & {
        transform: none;
      }
    }

    &::before,
    &::after {
      @include cover;

      background: currentColor;
      content: '';
      transform: scale(0, 1);
      transform-origin: center right;

      .navigation__item--active & {
        transform: scale(1, 1);
      }
    }

    &::before {
      transition:
        transform $timing $easing;
    }

    &::after {
      @include accent(background);

      // .page--is-loading & {
      //   background: currentColor;
      // }
    }
  }

  .btn {
    margin: 0 0 0 unit(2);
    vertical-align: middle;

    @include max-width(tp(header-small)) {
      margin-left: auto;
      margin-bottom: unit(navigation-item-padding) / 2;
    }
  }
}
