@import 'reset.css';
@import 'constants.css';

@font-face {
  font-family: 'ibm-plex-mono';
  font-weight: 400;
  font-style: normal;
  src: url(fonts/plex-400.woff2);
}

@font-face {
  font-family: 'ibm-plex-mono';
  font-weight: 600;
  font-style: normal;
  src: url(fonts/plex-600.woff2);
}

@font-face {
  font-family: 'ibm-plex-mono';
  font-weight: 400;
  font-style: italic;
  src: url(fonts/plex-400i-latin1.woff2);
}

@font-face {
  font-family: 'grad';
  src: url(fonts/grad/3A5752_0_0.woff2);
  font-weight: 600;
}

body {
  --unit: 4.167vw;

  background: $color-light;
  color: $color-dark;
  font-family: 'ibm-plex-mono', sans-serif;
  position: relative;
}

::selection {
  background: $color-accent;
  color: $color-light;
  text-shadow: none;
}

/* WHY: 768 - 1 */
@media screen and (max-width: 47.9375em) {
  body {
    --unit: 2rem;
  }
}

/* WHY: 1440 */
@media screen and (min-width: 90em) {
  body {
    --unit: 3.75rem;
  }
}

.background {
  background: url(images/pattern-light.svg) center;
  background-size: calc(var(--unit) * 12);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  transition: opacity 1000ms ease-out;
  opacity: 0;
}

.page--loaded .background {
  opacity: 1;
  will-change: transform;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.grid {
  display: grid;
  margin: 0 auto;
  position: relative;
  grid-template-columns: repeat(24, 1fr);
}

@media screen and (min-width: 90em) {
  .grid {
    max-width: 90rem;
  }
}

.heading {
  font-family: 'grad', serif;
  font-weight: 600;
  line-height: 1.1;
  margin: 1em auto 0.5em;
  /* TODO: Replace rgba with $color-accent */
  text-shadow: $color-light 0 0 2px, rgba(216, 11, 11, 0.25) 0 0 10px;
}

.heading--h2 {
  font-size: calc(var(--unit) * 1.1);
}

.separator {
  background: $color-light;
  border: 0;
  margin: 0 auto;
  width: calc(var(--unit) * 0.066);
  height: calc(var(--unit) * 5);
  position: relative;
  background-color: $color-accent;
}

.hero {
  grid-template-rows: 1fr auto auto calc(var(--unit) * 3);
}

.hero__figure {
  background: $color-light;
  grid-row: 1 / -1;
  grid-column: 4 / span 10;
  margin: calc(var(--unit) * 1) 0 calc(var(--unit) * 2);
  overflow: hidden;
  position: relative;
  /*transform: translateY(calc(var(--unit) / -2));*/
  transition: transform 1500ms ease-out;
  user-select: none;
  height: calc(var(--unit) * 14);
}

.hero__figure::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FAD7D7;
  /*background: $color-light;*/
  transition: transform 500ms ease-out;
  z-index: 2;
}

.section--loaded .hero__figure::after {
  transform: translateY(-100%);
}

.hero__image {
  position: absolute;
  top: calc(var(--unit) * -1);
  left: 0;
  object-fit: cover;
  object-position: bottom center;
  opacity: 0.334;
  height: calc(100% + calc(var(--unit) * 2));
  width: 100%;
  transition:
    opacity 1000ms 500ms ease-out,
    transform 1500ms ease-out;
  transform: translateY(calc(var(--unit) * -0.5));
}

.section--loaded .hero__figure {
  transform: none;
}

.section--loaded .hero__image {
  opacity: 1;
  transform: none;
}

.hero__title {
  font-size: calc(var(--unit) * 1.967);
  grid-column: 1 / -1;
  grid-row: 2;
  left: -0.075em; /* WHY: Moves the name so that the hyphen is split over the image */
  margin: 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: $color-dark;
  transform: translateX(-1%);
  opacity: 0;
  transition:
    opacity 750ms 0ms ease-out,
    transform 1250ms 0ms ease-out;
  z-index: 3;
}

.section--loaded .hero__title {
  opacity: 1;
  transform: none;
}

.section--loaded .hero__title > span {
  transform: none;
}

.hero__subtitle {
  color: $color-accent;
  grid-column: 15 / -1;
  grid-row: 3;
  font-size: calc(var(--unit) * 0.667);
  margin: 0 0 calc(var(--unit) * 0.5);
  position: relative;
  opacity: 0;
  transform: translateX(calc(var(--unit) * 0.25));
  transition:
    opacity 750ms 250ms ease-out,
    transform 1000ms 250ms ease-out;
  z-index: 3;
}

.section--loaded .hero__subtitle {
  opacity: 1;
  transform: none;
}

.hero__subtitle > span {
  display: block;
}

.hero__separator {
  margin-top: calc(var(--unit) * -3);
  transform: scale(1, 0);
  transform-origin: center top;
  transition: transform 750ms 750ms ease-out;
}

.section--loaded + .hero__separator {
  transform: scale(1, 1);
}

.story {
}

.story__title {
  grid-column: 13 / -3;
}

.story__column {

}

.story__column--1 {
  margin-top: calc(var(--unit) * -1.15);
  grid-column: 3 / span 9;
}

.story__column--2 {
  margin-top: calc(var(--unit) * 1.85);
  grid-column: 13 / span 9;
}

.story__column p {
  margin-bottom: 2em;
  line-height: 1.5;
  font-size: calc(var(--unit) * 0.4);
}

.story__column strong:first-child {
  font-weight: 600;
  color: $color-accent;
}

.life__title {
  grid-column: 13 / -3;
}
