<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% set css %}
      {% include "base.css" %}
    {% endset %}
    <style>{{ css | postcss | safe }}</style>
  </head>
  <body class="page">
    <div aria-hidden="true" class="background" id="background"></div>
    {% include "header.njk" %}
    <main>
      {{ content | safe }}
    </main>
    <!-- {% include "footer.njk" %} -->
    <script>
      let bg;
      let wHeight = 0;

      const onScroll = () => {
        bg.style.transform = `translate3d(0, ${window.scrollY / wHeight * 10}%, 0)`;
      };

      window.onload = () => {
        const body = document.body;
        wHeight = window.innerHeight;
        const hero = document.getElementById(`hero`);

        console.log(wHeight);

        body.classList.add('page--loaded');
        hero.classList.add('section--loaded');
        body.style.overflow = 'hidden';
        setTimeout(() => {
          body.style.overflow = 'visible';
        }, 1500);

        let timeout;
        bg = document.getElementById(`background`);

        onScroll();

        window.addEventListener('scroll', event => {

          if (timeout) {
            window.cancelAnimationFrame(timeout);
          }

          timeout = window.requestAnimationFrame(onScroll);
        }, false);
      };
    </script>
  </body>
</html>
