<footer class="footer">
  <div class="group footer__wrapper links--external">
    <p>
      <a href="/">robsterlini.co.uk</a> is built using <a href="https://www.11ty.dev/" target="_blank" rel="noopener">Eleventy,</a> hosted on <a href="https://netlify.com" target="_blank" rel="noopener">Netlify,</a> with code available for dissection on <a href="https://github.com/robsterlini/robsterlini-frontend/" target="_blank" rel="noopener">GitHub.</a> Typefaces are by <a href="https://p22.com/family-Mackinac" target="_blank" rel="noopener">P22</a> and <a href="https://www.rosettatype.com/Clone" target="_blank" rel="noopener">Rosetta,</a> and are self&#8209;served. No cookies, no tracking, no&nbsp;nothing!
    </p>

    <div class="fieldset">
      <label for="color-preference">Colour</label>
      <div class="fieldset__input">
        <select id="color-preference">
          <option value="auto">Auto</option>
          <option value="dark">Dark</option>
          <option value="light">Light</option>
        </select>
        <svg width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg"><path d="M5 9.63c.3 0 .47-.18.72-.63l4.03-7.68c.15-.28.25-.47.25-.67C10 .05 9.35 0 8.96 0H1.04C.64 0 0 .05 0 .65c0 .2.1.4.25.67L4.28 9c.25.45.42.63.72.63z" fill-rule="nonzero"/></svg>
      </div>
    </div>

    <div class="fieldset">
      <label for="contrast-preference">Contrast</label>
      <div class="fieldset__input">
        <select id="contrast-preference">
          <option value="auto">Auto</option>
          <option value="regular">Regular</option>
          <option value="high">High</option>
        </select>
        <svg width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg"><path d="M5 9.63c.3 0 .47-.18.72-.63l4.03-7.68c.15-.28.25-.47.25-.67C10 .05 9.35 0 8.96 0H1.04C.64 0 0 .05 0 .65c0 .2.1.4.25.67L4.28 9c.25.45.42.63.72.63z" fill-rule="nonzero"/></svg>
      </div>
    </div>
  </div>
</footer>
