<footer class="footer small">
  <div class="group footer__wrapper">
    <p class="footer__colophon links--external">
      Built using <a href="https://www.11ty.dev/" target="_blank" rel="noopener">Eleventy</a>, and hosted on <a href="https://netlify.com" target="_blank" rel="noopener">Netlify</a>. Peep <a href="https://github.com/robsterlini/robsterlini-frontend/#under-the-bonnet" target="_blank" rel="noopener" title="View the repository on GitHub">under the bonnet</a> and at the <a href="https://github.com/robsterlini/robsterlini-frontend/#license" target="_blank" rel="noopener" title="View the repository on GitHub"><abbr title="Creative Commons">CC&nbsp;license</abbr></a> on&nbsp;GitHub. Typefaces are by <a href="https://p22.com/family-Mackinac" target="_blank" rel="noopener">P22</a> and <a href="https://www.rosettatype.com/Clone" target="_blank" rel="noopener">Rosetta</a>, and are self&#8209;served. <strong>No cookies, no tracking, no&nbsp;nothing!</strong>
    </p>

    <p class="footer__home lead">
      <a href="/">Rob Sterlini</a>
    </p>

    <ul class="footer__links links--external">
      {% for link in global.footer %}
        <li>
          {% if link.link %}
            <a{% if link.download %} download{% endif %} href="{{ link.link }}">
            {% if link.abbr %}
              <abbr title="{{ link.label | safe }}">{{ link.abbr | safe }}</abbr>
            {% else %}
              {{ link.label | safe }}
            {% endif %}
            </a>
          {% else %}
            <span class="soon">{{ link.label | safe }}</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</footer>
