<footer class="footer">
  <div class="group">
    <p>
      <a href="https://robsterlini.co.uk">robsterlini.co.uk</a> is hosted on <a href="https://netlify.com" target="_blank" rel="nofollow">Netlify</a> with code coming to Github soon&trade;. Typefaces are by <a href="https://p22.com/family-Mackinac" target="_blank" rel="nofollow">P22</a> and <a href="https://www.rosettatype.com/Clone" target="_blank" rel="nofollow">Rosetta</a>, and are self-served. No cookies, no tracking, no&nbsp;nothing!
    </p>
  </div>
</footer>
