<nav class="nav">
  <div class="group">
    <a href="/" title="Visit the homepage">
      <span>R<span class="nav__hide">ob </span>S<span class="nav__hide">terlini</span></span>
    </a>
  </div>
</nav>
