<div class="banner" role="banner">
  <div class="group">
    <p class="small banner__text banner__text--desktop">After covid and injury postponements, in July 2023 I will finally be taking on Ironman UK, and <a href="/fundraising" target="_blank">fundraising for Mind</a>!</p>
    <p class="banner__text banner__text--mobile" aria-hidden="true"><a href="/fundraising" target="_blank">I am fundraising for Mind</a>!</p>
  </div>
</div>
<nav class="nav">
  <div class="group nav-logo-wrapper">
    {% if not layoutNoLogo %}<a class="nav-logo" href="/" title="Visit the homepage">
      <span>R<span class="nav-logo__hide">ob </span>S<span class="nav-logo__hide">terlini</span></span>
    </a>{% endif %}
  </div>
  <div class="nav-list">
    <div class="group">
      <ul>
        {% for item in global.nav %}
          <li>
            <a href="{{ item.link }}" class="lead{% if nav and nav === item.nav %} active{% endif %}">
              <span>{{ item.label }}</span>
            </a>
          </li>
        {% endfor %}
        <li class="nav-list__item nav-list__item--mind">
          <a href="/fundraising" target="_blank" class="link--external link--pseudo lead">
            <span class="link__pseudo">Donate</span>
          </a>
        </li>
      </ul>

      <div class="radiogroup" role="radiogroup" aria-labelledby="nav-color-preference-label">
        <span class="sr-only" id="nav-color-preference-label">Colour preference</span>

        <input class="sr-only" type="radio" id="nav-color-dark" name="nav-color" value="dark">
        <label for="nav-color-dark">Dark</label>

        <input class="sr-only" type="radio" id="nav-color-light" name="nav-color" value="light">
        <label for="nav-color-light">Light</label>

        <input class="sr-only" type="radio" id="nav-color-auto" name="nav-color" value="auto">
        <label for="nav-color-auto">Auto</label>

        <span class="radiogroup__focus-ring" aria-hidden="true"></span>
      </div>
    </div>
  </div>
</nav>
