@import 'scss/mixins';

@import 'scss/webfonts';

body {
  --font-loaded-animations: running;

  visibility: visible;
}

.nav .radiogroup,
.footer .fieldset {
  display: none;
}

.figure {

  &__overlay {
    display: none;
  }

  &__image {

    > img {

      &:nth-of-type(n) {
        transform: none;
      }
    }
  }
}
