@import 'scss/mixins';

@import 'scss/webfonts';

body {
  --font-loaded-animations: running;

  visibility: visible;
}

.nav {
  position: relative;
}

.nav-list {
  &,
  a::after {
    transform: none !important;
  }
}

.nav-toggle,
.footer .fieldset,
.figure__image svg {
  display: none;
}
