@charset 'UTF-8';

// ==== Framework ========================================================
// Color
// =======================================================================


// ==== Color ===========================
// Map get functions
// ==========================================

@function color($v) {
  @return map-get($base-colors, $v);
}

@function module-color($v) {
  @return map-get($module-colors, $v);
}

@function social-color($v) {
  @return map-get($social-colors, $v);
}

@function client-color($v, $c) {
  $client-color-map: map-get($client-colors, $c);

  @if (not $client-color-map) {
    @return color($v);
  }

  $color: map-get($client-color-map, $v);


  @if (not $color) {
    $color: color($v);
  }

  @return $color;
}
