@charset 'UTF-8';

// ==== Mixins ===========================================================
// Helpers
// =======================================================================


// ==== Helpers =========================
// Cover
// ==========================================

@mixin cover($position: absolute) {
  bottom: 0;
  left: 0;
  position: $position;
  right: 0;
  top: 0;
}


// ==== Helpers =========================
// Visuallyhidden
// ==========================================

@mixin visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
