{% macro hero(heading, header='', children='', centre=false) %}
<div class="hero{% if children %} hero--children{% endif %}{% if centre %} hero--centre{% endif %}">
  <div class="group">
    <header class="hero__header h3">
      {% if header %}<span>{{ header }}</span>{% endif %}
    </header>
    <h1 class="h1">{{ heading }}</h1>
    {% if children %}<div class="hero__children">{{ children }}</div>{% endif %}
  </div>
  <svg class="hero__angle" preserveAspectRatio="none" width="1000" height="50" viewBox="0 0 1000 50" xmlns="http://www.w3.org/2000/svg"><path d="M1000 0H0v50z" fill="none" fill-rule="evenodd"/></svg>
</div>
{% endmacro %}
