{% macro responsiveFigure(
  path,
  filetypes=[],
  widths=[],
  height=50,
  width=50,
  alt="",
  class="",
  loading="lazy"
) %}
  {% set ratio = height / width %}
  {% set pictureSet = widths | pictureSet(filetypes, path) %}
  {% set fallback = pictureSet[pictureSet.length - 1].srcSet[0].split(" ")[0] %}

  <figure class="m-figure {{ class }}" style="--figure-ratio: {{ ratio | round(3) }};">
    <picture class="m-figure__picture">
      {% for srcSet in pictureSet %}
        <source srcset="{{ srcSet.srcSet }}" type="image/{{ srcSet.fileType }}" />
      {% endfor %}
      <img
        class="m-figure__image"
        src="{{ fallback }}"
        height="{{ height }}"
        width="{{ width }}"
        alt="{{ alt }}"
        loading="{{ loading }}"
      />
    </picture>
  </figure>
{% endmacro %}
