{% macro project(slug="", title="", byline="", copy="", image="", index="") %}
<div class="projects__project projects__project--{{ index }} projects__project--{{ slug }} reveal reveal--{{ index }}">
  {% if image %}{% include image %}{% endif %}
  <h4 class="heading heading--h3">{{ title | safe }}</h4>
  <p class="paragraph">
    {% if byline %}<strong>{{ byline | safe }}.</strong>{% endif %}

    {{ copy }}
  </p>
</div>
{% endmacro %}
