<script>
  (function () {
    const THEME_LOCAL_KEY = "_temp-theme";
    const GRID_LOCAL_KEY = "_temp-grid";

    const THEMES = [
      "dark",
      "light",
      "dark-contrast",
      "light-contrast",
      "rs",
      "it",
    ];

    const colorPreferenceRadios = {};

    function setTheme(theme) {
      document.documentElement.dataset.theme = theme;
      colorPreferenceRadios[theme].checked = true;
      localStorage.setItem(THEME_LOCAL_KEY, theme);

      if (theme === "rs") {
        const rs600 = new FontFace(
          "gielinor-body",
          "url(/fonts/gielinor-600.woff2) format('woff2')",
          { weight: 500 }
        );

        Promise.all([rs600.load()]).then(function (loadedFonts) {
          loadedFonts.forEach(function (font) {
            document.fonts.add(font);
          });
        });
      }
    }

    function initTheme() {
      const toggle = document.getElementById("nav-theme-toggle");
      const navList = document.getElementById("nav-list");
      const themeSelector = document.getElementById("nav-theme-selector");

      toggle.addEventListener("click", (e) => {
        const toggled = e.target.getAttribute("aria-pressed") !== "true";
        e.target.setAttribute("aria-pressed", toggled);
        navList.hidden = toggled;
        themeSelector.hidden = !toggled;
        if (toggled) {
          colorPreferenceRadios[THEMES[0]].focus();
        }
      });

      THEMES.forEach((theme) => {
        const radio = document.getElementById("nav-color-" + theme);

        colorPreferenceRadios[theme] = radio;

        radio.addEventListener("change", (e) => {
          setTheme(e.target.value);
        });
      });

      let theme = localStorage.getItem(THEME_LOCAL_KEY);

      const hasNoTheme = !theme || !THEMES.includes(theme);

      if (hasNoTheme && window.matchMedia) {
        const lightMode = window.matchMedia("(prefers-color-scheme: dark)");
        const highContrast = window.matchMedia("(prefers-contrast: high)");

        theme = lightMode.matches ? "dark" : "light";

        if (highContrast.matches) {
          theme += "-high";
        }
      }

      setTheme(theme);
    }

    function initGrid() {
      const toggle = document.getElementById("nav-grid-toggle");

      toggle.addEventListener("click", (e) => {
        const toggled = e.target.getAttribute("aria-pressed") !== "true";
        e.target.setAttribute("aria-pressed", toggled);
        document.documentElement.dataset.grid = toggled;

        localStorage.setItem(GRID_LOCAL_KEY, toggled);
      });

      const grid = localStorage.getItem(GRID_LOCAL_KEY) || false;

      document.documentElement.dataset.grid = grid;
      toggle.setAttribute("aria-pressed", grid);
    }

    function setPreference(name, value) {
      localStorage.setItem(name + "-preference", value);
      document.documentElement.dataset[name + "Preference"] = value;
    }

    function getPreference(name, defaultPreference = "auto") {
      return localStorage.getItem(name + "-preference") || defaultPreference;
    }

    // const gridPreferenceSelect = document.getElementById("grid-preference");
    // gridPreferenceSelect.addEventListener("change", function (e) {
    //   setPreference("grid", e.target.value);
    // });
    // const gridPreference = getPreference("grid", "hidden");
    // gridPreferenceSelect.value = gridPreference;
    // setPreference("grid", gridPreference);

    initTheme();
    initGrid();
  })();
</script>
