{% macro heading(text, class="", level="h2", tag="h2", replace="", reveal=false) %}
  {% if not tag %}
    {% set tag = level %}
  {% endif %}
  {% set safeText = text | avoryUnderline(replace) | safe %}
  <{{ tag }} class="heading heading--{{ level }}{% if reveal %} heading--reveal{% endif %} {{ class }}">
    {% if reveal %}
      <span class="heading__reveal">{{ safeText }}</span>
    {% else %}
      {{ safeText }}
    {% endif %}
  </{{ tag }}>
{% endmacro %}
