@charset 'UTF-8';

// ==== Pages ============================================================
// Home
// =======================================================================


// ==== Home ================================
// Layout
// ==========================================

.main--home {
  padding-top: 0;

  .bg {

    @include min-width(bp(s)) {
      top: 0;
    }
  }

  .group {
    margin-top: auto;
    margin-bottom: auto;
  }
}


// ==== Home ================================
// Header
// ==========================================

.home-header {

  &__span {
    margin-top: 0;
    margin-bottom: 0;
    color: color(accent);

    // background: -webkit-linear-gradient(right, lighten(color(accent), 12.5%), color(accent));
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;

    @media screen and (max-width: 31.5em) {
      font-size: 3.25rem;
    }

    @media screen and (max-width: 26.25em) {
      font-size: 2.75rem;
    }

    @media screen and (max-width: 17em) {
      width: calc(100% + 0.2em);
    }

    @media screen and (max-width: 15.625em) {
      font-size: calc((100vw - 2.5rem) / 5.5);
    }

    &--dev {

      @media screen and (max-width: 22.75em) {

        span {
          display: none;
        }
      }
    }

    &--tri {

      @media screen and (max-width: 22.25em) {
        text-transform: capitalize;

        span {
          display: none;
        }
      }
    }

    &--lego {
      margin-bottom: 0.5em;
      margin-top: -0.05em;

      @media screen and (max-width: 23.325em) {

        span {
          display: none;
        }
      }
    }

    .sc {
      display: inline;
      font-weight: 500;
    }
  }
}


// ==== Home ================================
// Content
// ==========================================

.home-col {
  max-width: rem(960 / 3 * 2); // TODO: Var

  @include min-width(bp(m)) {
    display: inline-block;
    vertical-align: top;
    width: 50%;

    &--work {
      padding-right: unit(base-gutter);
    }

    &--life {
      padding-left: unit(base-gutter);
    }
  }
}


// ==== Home ================================
// Credit
// ==========================================

.home-credit {
  color: #888; // TODO: Var
  margin: 0;
  width: 100%;
  z-index: 2;

  @include min-width(bp(s)) {
    bottom: 0;
    position: absolute;
    text-align: right;
    right: 0;
  }

  .small {
    max-width: none;
  }

  a {
    color: inherit;
  }
}
