@charset 'UTF-8';

// ==== Pages ============================================================
// Home
// =======================================================================


// ==== Home ================================
// Layout
// ==========================================

.main--home {
  padding-top: 0;

  .bg {

    @include min-width(bp(s)) {
      top: 0;
    }
  }

  .group {
    margin-top: auto;
    margin-bottom: auto;
  }
}


// ==== Home ================================
// Header
// ==========================================

.home-header {

  .logo {
    background: var(--bg-bg-50);
  }

  &__span {
    margin-bottom: 0;
    margin-top: 0;

    @include max-width(520) {
      font-size: 2.75rem;
    }

    @include max-width(448) {
      font-size: 2.5rem;
    }

    @include max-width(272) {
      width: calc(100% + 0.2em);
    }

    @include max-width(290) {
      font-size: calc((100vw - 2.5rem) / 6.1);
    }

    &--dev {

      @include max-width(414) {

        span {
          display: none;
        }
      }
    }

    &--tri {

      @include max-width(386) {
        text-transform: capitalize;

        span {
          display: none;
        }
      }
    }

    &--lego {
      margin-bottom: 0.5em;
      margin-top: -0.05em;

      @include max-width(411) {

        span {
          display: none;
        }
      }
    }

    .sc {
      display: inline;
      font-weight: 500;
    }
  }
}


// ==== Home ================================
// Content
// ==========================================

.home-col {
  max-width: rem(960 / 3 * 2); // TODO: Var

  .btn {
    vertical-align: text-bottom;
  }

  @include min-width(bp(m)) {
    display: inline-block;
    vertical-align: top;
    width: 50%;

    &--work {
      padding-right: unit(base-gutter);
    }

    &--life {
      padding-left: unit(base-gutter);
    }
  }
}


// ==== Home ================================
// Credit
// ==========================================

.home-credit {
  margin: 0;
  opacity: 0.7;
  width: 100%;
  z-index: 2;

  @include min-width(bp(s)) {
    bottom: 0;
    position: absolute;
    right: 0;
    text-align: right;
  }

  .small {
    max-width: none;
  }

  a {
    color: inherit;
  }
}
