@charset 'UTF-8';

// ==== Pages ============================================================
// Life
// =======================================================================


// ==== Life ================================
// Triathlon
// ==========================================

.life-triathlon {

  &__image {

    > span {
      background: center no-repeat;
      background-size: cover;
      display: block;
      padding-top: 150%;
    }
  }
}
