@charset 'UTF-8';

// ==== Pages ============================================================
// Work
// =======================================================================


// ==== Work ================================
// Work Project
// ==========================================

.work-project {

  &__details {

    > .small {
      max-width: 36em;
    }

    @include min-width(bp(m)) {
      display: inline-block;
      padding-right: unit(base-gutter);
      vertical-align: top;
      width: rem(960 / 4); // TODO: Why

      .small {
        max-width: none;
      }
    }
  }

  &__detail {

    @include min-max-width(280, bp(xs)) {
      padding-left: 6em;
      margin-bottom: 0.5rem !important; // TODO: Var and refactor
      position: relative;

      .work-project--fueled &,
      .work-project--other & {

        &:first-of-type {
          min-height: 2.8em;
        }
      }

      dt {
        width: 6em;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    @include min-width(bp(xs)) {
      display: inline-block;
      vertical-align: top;
      padding-left: unit(base-gutter);
      width: 33.33%;

      &:first-of-type {
        padding-left: 0;
      }
    }

    @include min-width(bp(m)) {
      padding-left: 0;
      width: 100%;
    }

    dt {
      display: block;
    }

    dd {

      &::after {
        content: ',';
        margin-right: 0.2em;
      }

      &:last-child {

        &::after {
          display: none;
        }
      }
    }
  }

  &__copy {
    margin-top: unit(base-gutter);

    @include min-width(bp(m)) {
      display: inline-block;
      margin-top: 0;
      padding-left: unit(base-gutter);
      vertical-align: top;
      width: calc(100% - #{rem(960 / 4)}); // TODO: Why
    }

    .btn {
      display: table;
    }
  }
}


// ==== Work ================================
// Others
// ==========================================

.work-project--other {

  .h2 {
    font-style: italic;
  }
}
