<blockquote class="tweet p">
  <div class="tweet__header">
    <a
      class="tweet__profile link--external link--pseudo small"
      href="https://twitter.com/{{ user.screen_name }}"
      rel="noopener"
      target="_blank"
    >
      <img class="tweet__avatar" src="{{ user.profile_image_url_https }}" alt="Avatar for {{ user.screen_name }}" loading="lazy" />
      <span>
        <span class="tweet__author link__pseudo">{{ user.name }}</span>
        <span class="tweet__username">@{{ user.screen_name }}</span>
      </span>
    </a>
    <a class="tweet__bird" href="https://twitter.com/{{ user.screen_name }}/status/{{ id_str }}">
      <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" role="presentation"><path d="M16.065 11.966l.05.807-.824-.1c-2.996-.378-5.614-1.663-7.837-3.822L6.367 7.78l-.28.79c-.593 1.764-.214 3.626 1.02 4.88.66.69.51.79-.625.378-.395-.132-.74-.23-.774-.182-.115.116.28 1.615.593 2.208.43.824 1.3 1.632 2.256 2.11l.807.378-.955.017c-.922 0-.955.015-.856.36.33 1.072 1.63 2.21 3.08 2.704l1.02.346-.89.527a9.337 9.337 0 01-4.412 1.22c-.74.016-1.35.082-1.35.13 0 .166 2.01 1.09 3.178 1.45 3.507 1.072 7.672.61 10.8-1.218 2.224-1.303 4.446-3.89 5.484-6.394.56-1.335 1.12-3.774 1.12-4.944 0-.758.05-.856.97-1.763.544-.528 1.054-1.105 1.153-1.27.165-.313.148-.313-.69-.032-1.4.494-1.598.428-.907-.314.51-.527 1.12-1.482 1.12-1.763 0-.048-.247.034-.527.183-.295.164-.954.412-1.448.56l-.89.28-.806-.544c-.444-.297-1.07-.627-1.4-.726-.84-.23-2.123-.197-2.88.066-2.06.742-3.36 2.653-3.21 4.746z" fill="#FFF" fill-rule="evenodd"/></svg>
    </a>
  </div>

  <p class="tweet__body">{{ htmlText | safe }}</p>

  <div class="tweet__footer small">
    <a class="tweet__date" href="https://twitter.com/{{ user.screen_name }}/status/{{ id_str }}" rel="noopener" target="_blank"><time datetime="{{ created_at.iso }}">{{ created_at.display }}&nbsp;<span class="sc">GMT</span></time></a>
    <span class="lead">
      {% if favorite_count > 0 %}
        &ensp;<a class="tweet__like" href="https://twitter.com/intent/like?tweet_id={{ id_str }}" rel="noopener" target="_blank">{{ favorite_count }} like{% if favorite_count > 1%}s{% endif %}</a>
      {% endif %}
      {% if retweet_count > 0 %}
        &ensp;<a class="tweet__retweet" href="https://twitter.com/intent/retweet?tweet_id={{ id_str }}" rel="noopener" target="_blank">{{ retweet_count or 0 }} retweet{% if retweet_count > 1%}s{% endif %}</a>
      {% endif %}
    </span>
  </div>

  {% if images.length %}
    <div class="tweet__images tweet__images--{{ images.length }}">
      {% for image in images %}
        <a class="tweet__image" href="{{ image.url }}" rel="noopener" target="_blank">
          <img src="{{ image.src }}" alt="" loading="lazy" />
        </a>
      {% endfor %}
    </div>
  {% endif %}
</blockquote>
