.alert {
  border-radius: 2px;
  display: table;
  line-height: $line-height-body-small;
  font-size: 1rem;
  font-weight: $font-weight-body-bold;
  padding: 0em 0 0.1em 0.75em;
  position: relative;

  &::before {
    background: var(--c-bA);
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    border-radius: 1px;
  }

  .lead {
    display: block;
  }
}
