.alert {
  border-radius: 2px;
  display: table;
  line-height: $line-height-body-small;
  font-size: 1rem;
  font-weight: $font-weight-body-bold;
  padding: 0 0 0.1em 1em;
  position: relative;

  @include min-width(768) {
    margin-left: -1em;
  }

  &::before {
    background: var(--c-bA);
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    border-radius: 1px;
  }

  .lead {
    display: block;
    margin-top: -0.1em
  }
}
