html, body {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100%;
}

body {
  --c-strava: #FC4C02;
  --c-twitter: #00ACEE;
  --c-fueled: #AE0000;
  --c-netlify: #15847D;
  --c-linkedin: #0077B5;
  --c-codepen: #1E1F26;
  --c-github: #0366D6;
  --c-envato: #82b541;
  --c-instagram: #F00075;
  --c-spotify: #1DB954;
  --c-youtube: #FF0000;
}

@mixin dark-colors {
  --c-hB: #110E14; // Header BG
  --c-hA: #F75C6A; // Header Accent

  --c-bB: #{lighten(#19161C, 1%)}; // Body BG
  --c-bC: #EEE7E7; // Body Color
  --c-bC-66: #{rgba(#EEE7E7, 0.66)}; // Body Color (66%)
  --c-bC-33: #{rgba(#EEE7E7, 0.33)}; // Body Color (33%)
  --c-bA: #f75c6a; // Body Accent
  --c-bH: #{rgba(mix(white, yellow, 50%), 0.25)}; // Body Highlight

  --figO: 0.9; // Figure Opacity
  --figB: #{mix(#EEE7E7, #110E14, 15%)};

  --c-cB: #000; // Contrast BG
  --c-cC: #FFF; // Contrast Color
  --c-cC-semi: #{rgba(#FFF, 0.66)};
  --c-cA: #{lighten(#f75c6a, 10%)}; // Contrast Accent

  --c-fueled: #{lighten(#AE0000, 10%)};
  --c-github: #79B8FF;
  --c-netlify: #{lighten(#15847d, 10%)};
  --c-linkedin: #{lighten(#0077b5, 10%)};
  --c-strava: #{mix(#fc4c02, yellow, 90%)};
  --c-codepen: #FEFEFE;
}

@mixin light-colors {
  --c-hB: #FCFBFB;
  --c-hA: #EA3243;

  --c-bB: #{lighten(#EEE7E7, 4%)};
  --c-bC: #19161C;
  --c-bC-66: #{rgba(#19161C, 0.66)};
  --c-bC-33: #{rgba(#19161C, 0.33)};
  --c-bA: #{darken(#EA3243, 8%)};
  --c-bA-semi: #{rgba(#EA3243, 0.5)};
  --c-bH: #{rgba(yellow, 0.25)};

  --figB: #{mix(#19161C, #FCFBFB, 15%)};

  --c-cB: #FFF;
  --c-cC: #000;
  --c-cC-semi: #{rgba(#000, 0.66)};
  --c-cA: #{darken(#EA3243, 20%)};
}

@mixin contrast-colors {
  --c-hB: var(--c-cB);
  --c-hA: var(--c-cA);

  --c-bB: var(--c-cB);
  --c-bC: var(--c-cC);
  --c-bC-66: var(--c-cC);
  --c-bC-33: var(--c-cC-semi);
  --c-bA: var(--c-cA);
}

[data-color-preference='auto'] {
  @include dark-colors;

  @media (prefers-color-scheme: light) {
    @include light-colors;
  }
}

[data-color-preference='dark'] {
  @include dark-colors;
}

[data-color-preference='light'] {
  @include light-colors;
}

@include prefers-high-contrast {
  @include contrast-colors;

  --link-state-color: var(--c-bC);
}

html {
  background: var(--c-bB);
  line-height: $line-height-body;
  font-size: 0.8125rem;
  scroll-behavior: smooth;

  @include min-width(260) {
    font-size: 0.9375rem;
  }

  @include min-width(384) {
    font-size: 1rem;
  }

  @include min-width(768) {
    font-size: 1.125rem;
  }
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  color: var(--c-bC);
  font-family: 'rsa-body', sans-serif;
  font-variant-numeric: oldstyle-nums;
  font-weight: 300;
  opacity: 0;
  transition: opacity 300ms ease-out;
  visibility: hidden;

  .fonts-loaded & {
    opacity: 1;
    visibility: visible;
  }
}

::selection {
  background: var(--c-bC-33);
  color: var(--c-bC);
}

.main {
  animation: opacity-transform 400ms 250ms ease-out both;
  padding: 8vw 0;
}

.group {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  width: 92%;

  &--thin {
    max-width: 60rem;
  }
}

[href*="twitter.com"] {
  --link-color: var(--c-twitter);
}

[href*="github.com"] {
  --link-color: var(--c-github);
}

[href*="fueled.com"] {
  --link-color: var(--c-fueled);
}

[href*="tutsplus.com"] {
  --link-color: var(--c-envato);
}

[href*="instagram.com"] {
  --link-color: var(--c-instagram);
}

[href*="netlify.com"],
[href*="netlify.app"] {
  --link-color: var(--c-netlify);
}

[href*="11ty.dev"] {
  --link-color: #00BCD4;
}

[href*="strava.com"] {
  --link-color: var(--c-strava);
}

[href*="codepen.io"] {
  --link-color: var(--c-codepen);
}

[href*="linkedin.com"] {
  --link-color: var(--c-linkedin);
}

[href*="spotify.com"] {
  --link-color: var(--c-spotify);
}

[href*="youtube.com"] {
  --link-color: var(--c-youtube);
}

a,
.link {
  appearance: none;
  background: none;
  color: var(--link-state-color, inherit);
  cursor: pointer;
  font: inherit;
  font-weight: 500;
  transition: 125ms ease-in-out;
  transition-property: color, opacity, text-decoration-color;
  text-decoration: underline;
  text-decoration-color: var(--link-state-color, var(--c-bC-66, currentColor));
  padding: unset;
  border: 0;

  code {
    color: inherit;
    font-weight: inherit;
    text-decoration: none;
  }

  abbr {
    // Prevents a strange double line from being rendered
    text-decoration: none !important;
    border: 0 !important;
    text-underline-position: unset !important;
  }

  &:hover,
  &:focus {
    --link-state-color: var(--c-bA);
  }

  &:focus {
    outline: var(--c-bC-66) 1px dotted;
  }

  &:active {
    opacity: 0.66;
  }
}

@mixin link-external {

  &::after {
    color: var(--link-state-color, var(--link-color, var(--c-bA)));
    content: '↗';
    font-family: 'rsa-body', sans-serif;
    font-weight: 500;
    position: relative;
    top: -0.2em;
    font-style: normal;
    letter-spacing: -0.15em;
    margin-left: 0.05em;
    margin-right: 0.2em;
    font-size: 0.825em;
    transition: color 125ms ease-in-out;
    text-decoration: underline;
    text-decoration-color: var(--c-bB) !important;
  }

  &:hover,
  &:focus {

    &::after {
      color: var(--link-state-color);
    }
  }
}

.link--external {
  @include link-external;
}

.links--external [href^="https://"],
.links--external [href^="http://"] {
  @include link-external;
}

.link--pseudo {

  &,
  &:hover,
  &:focus {
    opacity: 1;
    color: currentColor;
    text-decoration: none;
    transition: none;
  }

  &:hover,
  &:focus {
    --link-state-color: var(--c-bA);
  }

  &.link--external {

    &::after {
      display: none;
    }
  }
}

.link__pseudo {
  color: var(--link-state-color);
  text-decoration: underline;
  text-decoration-color: var(--link-state-color, var(--c-bC-66, currentColor));
  transition: 125ms ease-in-out;
  transition-property: color, opacity, text-decoration-color;

  .link--pseudo:active & {
    opacity: 0.66;
  }

  .link--external[href^="https://"] &,
  .link--external[href^="http://"] & {
    @include link-external;
  }
}

.js--highlight-anchor {
  animation: fade-highlight 2s 1s ease-out both;

  @keyframes fade-highlight {
    from {
      background-color: var(--c-bH);
    }
  }
}

.accent {
  color: var(--c-bA);
}
