html, body, .main {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100%;
}

html {
  --c-header-color: #EEE7E7;
  --c-header-bg: #110E14;
  --c-header-accent: #f75c6a;

  --c-body-bg: #19161C;
  --c-body-color: #EEE7E7;
  --c-body-color-50: rgba(238, 231, 231, 0.66);
  --c-body-accent: #f75c6a;

  --c-contrast-background: #000;
  --c-contrast-color: #FFF;
  --c-contrast-accent: #FBCDD1;

  background: var(--c-body-bg);
  line-height: 1.45; // TODO: Var

  @media (prefers-color-scheme: light) {
    --c-header-bg: #FCFBFB;
    --c-header-color: #19161C;
    --c-header-accent: #EA3243;

    --c-body-bg: #EEE7E7;
    --c-body-color: #19161C;
    --c-body-color-50: rgba(25, 22, 28, 0.66);
    --c-body-accent: #EA3243;

    --c-contrast-background: #FFF;
    --c-contrast-color: #000;
    --c-contrast-accent: #6C000A;
  }

  @media (prefers-contrast: high) {
    --c-header-bg: var(--c-contrast-background);
    --c-header-color: var(--c-contrast-color);
    --c-header-accent: var(--c-contrast-accent);

    --c-body-bg: var(--c-contrast-background);
    --c-body-color: var(--c-contrast-color);
    --c-body-color-50: var(--c-contrast-color);
    --c-body-accent: var(--c-contrast-accent);
  }
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  color: var(--c-body-color);
  font-family: 'rsa-body', sans-serif;
  font-size: 1rem;
  font-variant-numeric: oldstyle-nums;
  font-weight: 300;
  letter-spacing: -0.01em;
  opacity: 0;
  transition: opacity 1000ms ease-out;

  .fonts-loaded & {
    opacity: 1;
  }

  @include min-width(768) {
    font-size: 1.125rem;
  }
}

::selection {
  background: var(--c-body-color);
  color: var(--c-body-bg);
}

.group {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  width: 92%;
}

a {
  color: inherit;
  font-weight: 500;
  transition: 125ms ease-in-out;
  transition-property: color, opacity, text-decoration-color;
  text-decoration: unerline;
  text-decoration-color: var(--c-body-color-50, currentColor);
}

a:hover,
a:focus {
  color: var(--c-body-accent);
  text-decoration-color: currentColor;
  border: 0;
}

a:focus {
  outline: var(--c-body-color-50) 1px dotted;
}

a:active {
  opacity: 0.66;
}
