$c-contrast-light: #FFF;
$c-contrast-dark: #000;

$c-dark-header-accent: #F75C6A;
$c-dark-header-bg: #110E14;
$c-dark-body-accent: darken($c-dark-header-accent, 0%);
$c-dark-body-bg: #1C181F;
$c-dark-body-color: #EEE7E7;
$c-dark-body-decorative: mix($c-dark-body-color, $c-dark-header-bg, 25%);
$c-dark-body-highlight: rgba(cyan, 0.25);

$c-light-header-accent: #EA3243;
$c-light-header-bg: #FCFBFB;
$c-light-body-accent: darken($c-light-header-accent, 8%);
$c-light-body-bg: #F6F3F3;
$c-light-body-color: #19161C;
$c-light-body-decorative: mix($c-light-body-color, $c-light-header-bg, 18%);
$c-light-body-highlight: rgba(yellow, 0.25);

$c-fueled: #AE0000;
$c-netlify: #15847D;
$c-strava: #FC4C02;
$c-linkedin: #0077B5;

html,
body {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100%;
}

html {
  --c-codepen: #1E1F26;
  --c-envato: #82b541;
  --c-fueled: #{$c-fueled};
  --c-github: #0366D6;
  --c-instagram: #F00075;
  --c-linkedin: #{$c-linkedin};
  --c-netlify: #{$c-netlify};
  --c-spotify: #1DB954;
  --c-strava: #{$c-strava};
  --c-twitter: #00ACEE;
  --c-youtube: #FF0000;
}

@mixin dark-colors {
  --c-hB: #{$c-dark-header-bg};
  --c-hA: #{$c-dark-header-accent};

  --c-bB: #{$c-dark-body-bg};
  --c-bC: #{$c-dark-body-color};
  --c-bS: #{rgba($c-dark-body-color, 0.55)}; // Semi-transparent body colour
  --c-bA: #{$c-dark-body-accent};
  --c-bD: #{$c-dark-body-decorative};
  --c-bH: #{$c-dark-body-highlight};

  --figO: 0.9; // Figure Opacity

  --c-cB: #{$c-contrast-dark}; // Contrast background
  --c-cC: #{$c-contrast-light}; // Contrast colour
  --c-cS: #{rgba($c-contrast-light, 0.66)}; // Contrast semi-transparent colour
  --c-cA: #{lighten($c-dark-header-accent, 10%)}; // Contrast accent

  --c-fueled: #{lighten($c-fueled, 10%)};
  --c-github: #79B8FF;
  --c-netlify: #{lighten($c-netlify, 10%)};
  --c-linkedin: #{lighten($c-linkedin, 10%)};
  --c-strava: #{mix($c-strava, yellow, 90%)}; // Mix Strava with yellow to avoid it going too beige
  --c-codepen: #FEFEFE;
}

@mixin light-colors {
  --c-hB: #{$c-light-header-bg};
  --c-hA: #{$c-light-header-accent};

  --c-bB: #{$c-light-body-bg};
  --c-bC: #{$c-light-body-color};
  --c-bS: #{rgba($c-light-body-color, 0.6)};
  --c-bA: #{$c-light-body-accent};
  --c-bD: #{$c-light-body-decorative};
  --c-bH: #{$c-light-body-highlight};

  --c-cB: #{$c-contrast-light};
  --c-cC: #{$c-contrast-dark};
  --c-cS: #{rgba($c-contrast-dark, 0.66)};
  --c-cA: #{darken($c-light-header-accent, 20%)};
}

@mixin contrast-colors {
  --c-hB: var(--c-cB);
  --c-hA: var(--c-cA);
  --c-bB: var(--c-cB);
  --c-bC: var(--c-cC);
  --c-bS: var(--c-cS);
  --c-bA: var(--c-cA);
}

[data-color-preference='auto'] {
  @include dark-colors;

  @media (prefers-color-scheme: light) {
    @include light-colors;
  }
}

[data-color-preference='dark'] {
  @include dark-colors;
}

[data-color-preference='light'] {
  @include light-colors;
}

@include prefers-high-contrast {
  @include contrast-colors;

  --link-state-color: var(--c-bC);
}

html {
  background: var(--c-bB);
  line-height: $line-height-body;
  font-size: 14 / 16 * 1rem;
  scroll-behavior: smooth;

  @include min-width(384) {
    font-size: 15 / 16 * 1rem;
  }

  @include min-width(768) {
    font-size: 16 / 16 * 1rem;
  }

  @include min-width(1024) {
    font-size: 17 / 16 * 1rem;
  }
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  color: var(--c-bC);
  font-family: $font-family-body;
  font-variant-numeric: oldstyle-nums;
  font-weight: 300;
  opacity: 0;
  transition: opacity 300ms ease-out;
  visibility: hidden;

  .fonts-loaded & {
    opacity: 1;
    visibility: visible;
  }
}

::selection {
  background: var(--c-bH);
}

.main {
  animation: opacity-transform 400ms 250ms ease-out both;
  padding: 8vw 0;
}

.group {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  width: 92%;

  &--thin {
    max-width: 60rem;
  }
}

[href*="twitter.com"] {
  --link-color: var(--c-twitter);
}

[href*="github.com"] {
  --link-color: var(--c-github);
}

[href*="fueled.com"] {
  --link-color: var(--c-fueled);
}

[href*="tutsplus.com"] {
  --link-color: var(--c-envato);
}

[href*="instagram.com"] {
  --link-color: var(--c-instagram);
}

[href*="netlify.com"],
[href*="netlify.app"] {
  --link-color: var(--c-netlify);
}

[href*="11ty.dev"] {
  --link-color: #00BCD4;
}

[href*="strava.com"] {
  --link-color: var(--c-strava);
}

[href*="codepen.io"] {
  --link-color: var(--c-codepen);
}

[href*="linkedin.com"] {
  --link-color: var(--c-linkedin);
}

[href*="spotify.com"] {
  --link-color: var(--c-spotify);
}

[href*="youtube.com"] {
  --link-color: var(--c-youtube);
}

a,
.link {
  appearance: none;
  background: none;
  color: var(--link-state-color, inherit);
  cursor: pointer;
  font: inherit;
  font-weight: 500;
  transition: 125ms ease-in-out;
  transition-property: color, opacity, text-decoration-color;
  text-decoration: underline;
  text-decoration-color: var(--link-state-color, var(--c-bS, currentColor));
  padding: unset;
  border: 0;

  code {
    color: inherit;
    font-weight: inherit;
    text-decoration: none;
  }

  abbr {
    // Prevents a strange double line from being rendered
    text-decoration: none !important;
    border: 0 !important;
    text-underline-position: unset !important;
  }

  &:hover,
  &:focus {
    --link-state-color: var(--c-bA);
  }

  &:focus {
    outline: var(--c-bS) 1px dotted;
  }

  &:active {
    opacity: 0.66;
  }
}

@mixin link-external {

  &::after {
    content: '';
    padding-left: 11px;
    transition: background-color 125ms ease-in-out;
    background-color: var(--link-state-color, var(--link-color, var(--c-bA)));
    -webkit-mask: url("data:image/svg+xml,%3Csvg width='10' height='16' viewBox='0 0 10 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='%23979797' stroke-width='1.25' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M3 7l6-6-6 6zM4 1h5v5.5'/%3E%3C/g%3E%3C/svg%3E") -0.5px center / 10px 16px no-repeat;
  }

  &:hover,
  &:focus {

    &::after {
      color: var(--link-state-color);
    }
  }
}

.link--external {
  @include link-external;
}

.links--external [href^="https://"],
.links--external [href^="http://"] {
  @include link-external;
}

.link--pseudo {

  &,
  &:hover,
  &:focus {
    opacity: 1;
    color: currentColor;
    text-decoration: none;
    transition: none;
  }

  &:hover,
  &:focus {
    --link-state-color: var(--c-bA);
  }

  &.link--external {

    &::after {
      display: none;
    }
  }
}

.link__pseudo {
  color: var(--link-state-color);
  text-decoration: underline;
  text-decoration-color: var(--link-state-color, var(--c-bS, currentColor));
  transition: 125ms ease-in-out;
  transition-property: color, opacity, text-decoration-color;

  .link--pseudo:active & {
    opacity: 0.66;
  }

  .link--external[href^="https://"] &,
  .link--external[href^="http://"] & {
    @include link-external;
  }
}

.btn {
  padding-left: 1.5em;

  &::before {
    box-sizing: border-box;
    content: '—';
    color: var(--c-bA);
    font-family: inherit;
    font-weight: 500;
    display: inline-block;
    margin-left: -2.5em;
    width: 2em;
    text-align: right;
    margin-right: 0.5em;
  }
}

.js--highlight-anchor {
  animation: fade-highlight 2s 1s ease-out both;

  @keyframes fade-highlight {
    from {
      background-color: var(--c-bH);
    }
  }
}

.accent {
  color: var(--c-bA);
}
