.fieldset {
  display: inline-block;
  margin-right: 1em;

  &__input {
    display: inline-block;
    position: relative;

    svg {
      position: absolute;
      right: 0.25rem;
      top: 50%;
      margin-top: -0.05rem;
      width: 0.25rem;
      height: 0.25rem;
    }

    path {
      fill: currentColor;
      transition: fill 125ms ease-in-out;
    }
  }

  label {
    font-weight: 500;
    color: var(--c-bA);
    margin-right: 0.5em;
  }

  select {
    @include sc;

    background: none;
    padding-right: 1rem;
    font-size: 0.9375rem;
    color: var(--c-bC);
    border-bottom: 2px solid var(--c-bS);
    transition: border-color 125ms ease-in-out;

    &:hover,
    &:focus {
      border-color: var(--c-bC);
    }

    &:focus {
      outline: var(--c-bC-semi) 1px dotted;
    }
  }
}
