.fieldset {
  align-items: center;
  display: inline-flex;
  margin-right: 1em;
  margin-bottom: 0.5em;
  font-size: $paragraph-small;

  &__input {
    display: inline-block;
    position: relative;

    svg {
      position: absolute;
      right: 0.25rem;
      top: 50%;
      margin-top: -0.05rem;
      width: 0.25rem;
      height: 0.25rem;
    }

    path {
      fill: currentColor;
      transition: fill 125ms ease-in-out;
    }
  }

  label {
    font-weight: 500;
    color: var(--c-accent);
    margin-right: 0.5em;
  }

  select {
    @include sc;

    background: none;
    color: var(--c-text);
    display: block;
    border-bottom: 2px solid var(--c-decorative);
    padding: 0.25rem 1rem 0.25em 0;
    transition: border-color 125ms ease-in-out;
    font-size: 1rem; // TODO: Var
    font-weight: $font-weight-body-bold;

    &:hover,
    &:focus {
      border-color: var(--c-text);
    }

    &:focus {
      outline: var(--c-semi) 1px dotted;
    }
  }
}
