.figure {
  background: var(--c-hB);
  display: table;
  margin: 2rem 0;
  border-radius: 2px;
  overflow: hidden;

  > img {
    display: block;
    height: auto;
    max-width: 100%;
    width: auto;
    opacity: var(--figO, 1);
  }

  &__caption {
    background: var(--c-hB);
    padding: 0.25em 0.667em 0.6em;
    font-size: 0.825rem;
    display: table-caption;
    caption-side: bottom;

    @include min-width(768) {
      font-size: 0.9375rem;
    }
  }

  &__link {
    color: var(--c-bC-66);
    font-variant-caps: small-caps;
    text-transform: lowercase;
  }
}
