$figure-angle-height: 0.5rem;
$figure-visible-selector: '.js--figure-visible';

.figure-wrapper {
  position: relative;
  margin: 2rem 0;

  &--inset {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @include min-width($breakpoint-xsmall) {
      width: 90%;
    }

    @include min-width($breakpoint-small) {
      float: right;
      width: 50%;
      margin-top: 0;
      margin-left: 5%;
      margin-right: 0;

      .figure__caption {
        width: (100% / 5 * 3);
      }
    }
  }

  &--full {
    width: 100%;

    @include min-width($breakpoint-small) {

      .figure__caption {
        width: (100% / 10 * 3);
      }
    }
  }

  &--overlap {
    width: 100%;

    @supports(width: clamp(1rem, 2rem, 3rem)) {
      width: clamp(0rem, 92vw, 80rem); // TODO: Var
      left: 50%;
      margin-left: clamp(-40rem, -46vw, 0rem); // TODO: Var
    }

    .figure {
      margin-left: auto;
      margin-right: auto;
      width: 100%;

      &__image {

        > img {
          width: 100%;
        }
      }
    }

    @include min-width($breakpoint-small) {

      .figure__caption {
        margin-left: (100% / 12 * 8);
        width: (100% / 12 * 3);
      }
    }
  }
}

.figure {
  overflow: hidden;
  clear: both;
  max-width: inherit;

  &__image {
    position: relative;
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(var(--figure-count, 1), 1fr);
    opacity: var(--o-fig, 1);
    overflow: hidden;

    > div {
      position: relative;
    }

    img {
      display: block;
      height: auto;
      max-width: 100%;
      width: 100%;
      position: relative;
      object-fit: cover;
    }

    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity 500ms ease-out;

      .js--figure-visible & {
        opacity: 0;
      }
    }
  }

  path {
    fill: currentColor;
  }

  &__caption {
    color: var(--c-bS);
    font-family: $font-family-heading;
    font-weight: 400;
    font-style: italic;
    font-size: 1rem;
    margin: 0.5em 0 0 auto;
    line-height: $line-height-body-small;
    position: relative;

    > svg {
      color: var(--c-hB);
      display: block;
      height: $figure-angle-height;
      width: 100%;
      z-index: 2;
      position: absolute;
      bottom: 100%;
      left: 0;
      margin-bottom: -0.5px; // Fixes aliasing issues in Safari
    }
  }

  &__link {

    font-family: $font-family-body;
    font-size: $paragraph-small;
    font-weight: 500;
    font-style: normal;
    color: var(--c-bS);
    font-variant-caps: small-caps;
    text-transform: lowercase;

    &:hover,
    &:focus {
      --link-state-color: var(--c-bC);
      color: var(--c-bC);
    }
  }
}
