.footer {
  background: var(--c-bB);
  color: var(--c-bC);
  display: grid;
  margin-top: auto;
  padding-top: var(--spacing);

  .main + & {
    padding-top: 0;
  }

  &__wrapper {
    animation: opacity $main-transition-duration $main-transition-duration ease-out both var(--font-loaded-animations);
    display: grid;
    grid-gap: calc(var(--spacing) / 2) 0;
    padding: var(--spacing) 0;
    position: relative;

    .main + .footer & {

      &::before {
        background: var(--c-bD);
        content: '';
        position: absolute;
        width: 100%;
        top: 0;
        height: 2px;
        border-radius: 1px;
      }
    }
  }

  &__colophon {
    max-width: 46em;
    margin-bottom: calc(var(--spacing) / 2);
  }

  &__links {
    display: flex;
    flex-wrap: wrap;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      display: inline-block;
      vertical-align: baseline;
      margin-right: 1em;
    }

    a {
      text-decoration: none;
    }

    .lead {
      margin: 0 1rem 0 0;
    }
  }

  &__controls {
    padding-bottom: 44px;

    .fieldset {
      margin-right: 0;
      display: flex;

      label {
        margin-right: 0;
        min-width: 100% / $temp-cols * 3;
      }

      &__input {
        min-width: 100% / $temp-cols * 6;
      }

      select {
        width: 100%;
      }
    }

    @media (hover: hover) and (pointer: fine) and (min-width: #{$temp-small / 16 * 1em}) {
      padding-bottom: 0;
    }
  }

  @include min-width($temp-small) {

    &__controls {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 0 (100% / 11);
      width: 100% / $temp-cols * 11;
      flex-wrap: wrap;

      .fieldset {
        box-sizing: border-box;
        display: flex;
        margin-right: 0;

        label {
          min-width: (100% / 3);
        }

        &__input {
          flex: 1;
        }
      }
    }
  }

  @include min-max-width($temp-small, 860) {

    &__controls {

      .fieldset {
        flex-wrap: wrap;

        label,
        &__input {
          width: 100%;
          flex: auto;
        }
      }
    }
  }

  @include min-width($temp-large) {

    &__wrapper {
      grid-template-columns: 8fr 3fr;
      grid-template-rows: auto 1fr;
      grid-column-gap: (100% / $temp-cols);
    }

    &__links {
      grid-column: 1;

      .lead {
        box-sizing: border-box;
        min-width: 100% / 8 * 1;
        margin-right: 0;
        padding-right: 1em;
      }
    }

    &__controls {
      display: block;
      grid-column: 2;
      grid-row: 1 / span 2;
      width: 100%;
    }
  }
}
