.footer {
  background: var(--c-bB);
  color: var(--c-bC);
  font-size: 0.875rem;
  margin-top: auto;

  &__wrapper {
    animation: opacity 400ms 700ms ease-out both;
    padding: calc(2vw + 1rem) 0 calc(1vw + 0.5rem);
    position: relative;

    > :first-child {
      margin-bottom: 1em;
    }

    .main + .footer & {

      &::before {
        background: var(--c-bD);
        content: '';
        position: absolute;
        width: 100%;
        top: 0;
        height: 2px;
        border-radius: 1px;
        animation: scale-from-left 400ms 800ms ease-out both;
        transform-origin: center left;
      }
    }
  }

  &__links {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      vertical-align: top;
      margin-right: 1em;
    }

    a {
      text-decoration: none;
    }
  }

  p {
    margin-bottom: calc(2vw + 1rem);
  }

  @include min-width(1024) {

    &__wrapper {
      display: grid;
      grid-template-columns: repeat(24, 1fr);
      grid-template-rows: auto 1fr;

      > :first-child {
        grid-area: 1 / 1 / span 2 / span 19;
        margin-bottom: 0;
      }

      .fieldset {
        margin-right: 0;
        grid-column: 20 / span 5;

        &:nth-of-type(2) {
          grid-row: 2;
        }
      }
    }
  }
}
