.grid {
  display: grid;
  margin: 0 auto;
  position: relative;
  grid-template-columns: repeat(24, 1fr);
  scroll-margin: calc(var(--unit) * 1);
}

@include min-width(1320) {
  .grid {
    max-width: #{(1320 / 16)}rem;
  }
}
