.hero {
  background: var(--c-hB);
  display: flex;
  align-items: flex-end;
  margin-bottom: 1vw;
  padding: 6vw 0 4vw;
  position: relative;
  z-index: 3;

  @include min-width(768) {
    flex: 1;
  }

  .group {

    > :last-child {
      margin-bottom: 0;
    }
  }

  &__angle {
    animation: scale-from-top 900ms 0ms ease-out both;
    display: block;
    height: 2vw;
    width: 100%;
    position: absolute;
    bottom: -2vw;
    transform-origin: center top;

    path {
      fill: var(--c-hB);
    }

    @media (prefers-reduced-motion) {
      animation: none;
    }
  }

  &__header {
    margin: 0;
    width: 100%;

    > span {
      opacity: 0;
      transition: opacity 500ms 250ms ease-out;

      .fonts-loaded & {
        opacity: 1;
        color: var(--c-bC);
      }
    }

    &::before {
      animation: scale-from-left 500ms 125ms ease-out both;
      content: '\2013\2013\2013\2013';
      color: var(--c-bA);
      letter-spacing: -0.2em;
      margin-right: 0.5em;
      width: 1.75em;
      display: inline-block;
      transform-origin: center left;

      @include max-width(768) {
        content: '\2013\2013';
        width: 0.875em;
      }
    }
  }

  .h1 {
    animation: opacity 1300ms 200ms ease-out both;
    margin-bottom: 0.25em;
  }
}
