.hero {
  background: var(--c-hB);
  display: flex;
  align-items: flex-end;
  margin-bottom: 1vw;
  padding: 8vw 0 4vw;
  position: relative;
  z-index: 3;

  @include min-width(768) {
    flex: 1;
  }

  a:not(:hover):not(:focus),
  .link:not(:hover):not(:focus) {
    text-decoration-color: var(--c-bD);
  }

  .link--external {

    &::after {
      text-decoration-color: var(--c-hB) !important;
    }
  }

  .group {

    > :last-child {
      margin-bottom: 0;
    }
  }

  &__children {
    font-size: 1.125rem;
    animation: opacity 500ms 250ms ease-out both;

    > :last-child {
      margin-bottom: 0;
    }
  }

  &__angle {
    animation: scale-from-top 800ms 0ms ease-out both;
    display: block;
    height: 2vw;
    width: 100%;
    position: absolute;
    bottom: -2vw;
    transform-origin: center top;

    path {
      fill: var(--c-hB);
    }

    @media (prefers-reduced-motion) {
      animation: none;
    }
  }

  &__header {
    margin: 0;
    width: 100%;
    padding-right: 4rem;
    box-sizing: border-box;

    > span {
      animation: opacity 400ms 250ms ease-out both;
      color: var(--c-bC);
    }


    &::before {
      animation: scale-from-left 500ms 125ms ease-out both;
      content: '\2013\2013\2013\2013';
      color: var(--c-hA);
      letter-spacing: -0.2em;
      margin-right: 0.5em;
      width: 1.75em;
      display: inline-block;
      transform-origin: center left;

      @include max-width(768) {
        content: '\2013\2013';
        width: 0.875em;
      }
    }
  }

  .h1 {
    animation: opacity 800ms 100ms ease-out both;
    color: var(--c-hA);
    margin-bottom: 0.25em;
  }

  &--children {

    .h1 {
      margin-bottom: 0.125em;
    }
  }

  &--centre {
    align-items: center;
    flex: 1;
  }
}
