.hero {
  background: var(--c-header-bg);
  display: flex;
  align-items: flex-end;
  flex: 1;
  margin-bottom: 1vw;
  padding-top: 6vw;
  padding-bottom: 4vw;
  position: relative;
  z-index: 3;

  &__angle {
    animation: scale-from-top 1000ms 0ms ease-out both;
    display: block;
    height: 2vw;
    width: 100%;
    position: absolute;
    bottom: -2vw;
    transform-origin: center top;

    path {
      fill: var(--c-header-bg);
    }

    @media (prefers-reduced-motion) {
      animation: none;
    }
  }

  &__header {
    font-size: 1.5rem;
    font-weight: 500;
    transition: color 500ms 250ms ease-out;
    color: transparent;
    width: 100%;

    .fonts-loaded & {
      color: var(--c-header-color);
    }

    @include max-width(768) {
      font-size: 1.25rem;
    }

    &::before {
      animation: scale-from-left 500ms 125ms ease-out both;
      content: '\2013\2013\2013\2013';
      color: var(--c-header-accent);
      letter-spacing: -0.2em;
      margin-right: 0.5em;
      width: 1.75em;
      display: inline-block;
      transform-origin: center left;

      @include max-width(768) {
        content: '\2013\2013';
        width: 0.875em;
      }
    }
  }

  .h1 {
    animation: opacity 1200ms 200ms ease-out both;
    margin-bottom: 0.25em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
