%list-item {
  padding-left: 1em;

  &::before {
    box-sizing: border-box;
    content: '–';
    color: var(--c-bA);
    font-family: inherit;
    font-weight: 500;
    display: inline-block;
    margin-left: -2em;
    width: 1.5em;
    text-align: right;
    margin-right: 0.5em;
  }
}

%list {
  list-style: none;
  padding: 0;
  margin: 0 0 1em;
  max-width: 42em; // TODO: Var (same as .p)

  li + li {
    margin-top: 0.25em;
  }
}

%ordered-list {
  @extend %list;

  counter-reset: list;

  li {
    @extend %list-item;
    counter-increment: list;

    &::before {
      content: counter(list) '. ';
      font-size: $paragraph-small;
      position: relative;
      right: -0.15em; // Optically adjusts for the full stop after the number
    }
  }
}

.list {
  @extend %list;

  > li,
  &__item {
    @extend %list-item;

    + .list__item {
      margin-top: 0.25em;
    }
  }
}

.list--block {
  @extend %list;
}

.list--inline {
  list-style: none;
  padding: 0;

  li {
    display: inline;
  }
}

.list--ordered {
  @extend %ordered-list;
}
