%list-item-sibling {
  margin-top: 0.125em;
}

.list,
[class^="list--"] {
  list-style: none;
  padding: 0;
  margin: 0 0 1em;
  max-width: 42em; // TODO: Var (same as .p)

  > li + li {
    @extend %list-item-sibling;
  }
}

%list-item {
  padding-left: 1em;

  &::before {
    box-sizing: border-box;
    content: '–';
    color: var(--c-bA);
    font-family: inherit;
    font-weight: 500;
    display: inline-block;
    margin-left: -2em;
    width: 1.5em;
    text-align: right;
    margin-right: 0.5em;
  }
}

%btn {
  @extend %list-item;

  padding-left: 1.25em;

  &::before {
    content: '—';
    margin-left: -2.5em;
    width: 2em;
  }
}

.list {

  &__item {
    @extend %list-item;

    + .list__item {
      @extend %list-item-sibling;
    }
  }

  &--ul {

    > li {
      @extend %list-item;
    }
  }

  &--ol {
    counter-reset: list;

    > li {
      @extend %list-item;
    }

    > li,
    > .list__item {
      counter-increment: list;

      &::before {
        content: counter(list) '. ';
        font-size: 14 / 16 * 1em;
        position: relative;
        right: -0.15em; // Optically adjusts for the full stop after the number
      }
    }
  }

  &--inline {
    list-style: none;
    padding: 0;

    > li,
    > .list__item {
      display: inline;
    }
  }

  &--block {

    > li + li ,
    > .list__item + .list__item {
      margin-top: 0.5em;
    }
  }

  &--btns {

    > li {
      @extend %btn;
    }
  }
}

.btn {
  @extend %btn;
}
