@mixin max-width($max-width) {
  @media screen and (max-width: #{($max-width - 1) / 16}em) {
    @content;
  }
}

@mixin min-width($min-width) {
  @media screen and (min-width: #{$min-width / 16}em) {
    @content;
  }
}

@mixin min-max-width($min-width, $max-width) {
  @media screen and (min-width: #{$min-width / 16}em) and (max-width: #{($max-width - 1) / 16}em)  {
    @content;
  }
}

@mixin prefers-high-contrast {
  [data-contrast-preference='auto'] {
    @media (prefers-contrast: high) {
      @content;
    }
  }

  [data-contrast-preference='high'] {
    @content;
  }
}

@mixin sc {
  font-variant-caps: all-small-caps;

  @media not all and (min-resolution: .001dpcm) {
    text-transform: lowercase;
    font-variant-caps: small-caps;
  }
}

$grid-row-gap: 1rem;
$grid-column-gap: 6%;

$paragraph-small: 14 / 16 * 1rem;
$paragraph-large: 18 / 16 * 1rem;

$font-family-body: 'rs-body', sans-serif;
$font-family-heading: 'rs-heading', serif;
$font-family-heading-sc: 'rs-heading-sc', #{$font-family-heading};

$font-weight-body-regular: 400;
$font-weight-body-bold: 500;

$line-height-body: 1.6;
$line-height-body-small: 1.5;
