.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  pointer-events: none;
  text-align: right;
  animation: nav 1000ms 500ms ease-out both;

  @media print {
    display: none;
  }

  @keyframes nav {
    0% {
      opacity: 0;
      transform: translateY(-5%);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }

  @media (prefers-reduced-motion) {
    animation-name: opacity;
    animation-duration: 500ms;
  }

  a {
    color: var(--c-header-bg);
    display: inline-block;
    pointer-events: auto;
    padding: 1.25em 0.25em 0.75em;
    text-decoration: none;
    transition: 250ms ease-in-out;
    transition-property: opacity, transform;
    font-family: 'rsa-heading', serif;
    line-height: 1.2;
    font-size: 1.25rem;
    transform: translateY(-0.25em);
    width: 2.25em;
    text-align: center;
    position: relative;

    &::before {
      background: var(--c-header-accent);
      position: absolute;
      content: '';
      top: -0.25em;
      left: 0;
      width: 100%;
      bottom: 0;
      transform: skewY(5deg);
      transition: background 250ms ease-in-out;
      transform-origin: right bottom;
      backface-visibility: hidden;
    }

    &:hover,
    &:focus {
      outline: 0;
      transform: none;

      &::before {
        background: var(--c-header-color);
      }
    }

    &:focus {

      &::before {
        outline: var(--c-body-color-50) 1px dotted;
      }
    }

    > span {
      position: relative;
    }
  }

  &__hide {
    display: none;
  }
}
