.banner {
  --c-focus-ring: currentColor;

  background: #2500c1;
  color: white;
  position: relative;
  z-index: 9999;
  padding: 0.25em 0;

  &__text {
    max-width: none;
    margin: 0 0 0.25em;
    text-align: center;

    &--mobile {
      @include min-width($breakpoint-small) {
        display: none;
        visibility: hidden;
      }
    }
    &--desktop {
      @include max-width($breakpoint-small) {
        display: none;
        visibility: hidden;
      }
    }

    a {
      display: inline-block;
      color: currentColor;
      text-decoration-color: currentColor;

      &:not(:hover) {
        text-decoration-color: transparent;
      }
    }
  }
}

.nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  pointer-events: none;
  display: flex;
  flex-direction: column;
}

.nav-logo-wrapper {
  animation: nav 400ms $hero-transition-duration ease-in-out both
    var(--font-loaded-animations);
  position: relative;
  z-index: 10;
  height: 4rem;
  margin-bottom: -4rem;

  @keyframes nav {
    0% {
      opacity: 0;
      transform: translateY(-5%);
    }
    50% {
      opacity: 1;
    }
    80% {
      transform: translateY(1%);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }

  @media (prefers-reduced-motion) {
    animation-name: opacity;
    animation-duration: 500ms;
  }
}

.nav-logo {
  color: var(--c-header-background);
  pointer-events: auto;
  margin-bottom: -0.75em;
  text-decoration: none;
  transition: 250ms ease-in-out;
  transition-property: color, transform;
  font-family: $font-family-heading;
  line-height: 1.2;
  font-size: 0.9375rem;
  transform: translateY(-0.25em);
  padding-top: 0.0625em;
  width: 2.5em;
  height: 3em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;

  @include min-width($breakpoint-small) {
    font-size: 1.1875rem;
  }

  @include min-width($breakpoint-large) {
    font-size: 1.25rem;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: -0.25em;
    left: 0;
    width: 100%;
    bottom: 0;
    transform: skewY(5deg);
    transform-origin: right bottom;
    backface-visibility: hidden;
  }

  &::before {
    background: var(--c-header-background);
  }

  &::after {
    background: var(--c-header-accent);
    transition: background 125ms ease-in-out, opacity 250ms ease-in-out;
  }

  &:hover {
    color: var(--c-header-background);
    outline: 0;
    transform: none;
  }

  &:active {
    opacity: 1;

    &::after {
      opacity: 0.5;
    }
  }

  &:focus-visible {
    outline: none;
    background: none;

    &::after {
      outline-offset: 2px;
      outline: 2px solid var(--c-focus-ring);
    }
  }

  > span {
    position: relative;
    z-index: 2;

    [data-theme="rs"] & {
      font-family: var(--font-family-theme);
      color: yellow;
      text-shadow: black 1px 1px 0;
      margin: 0.1em 0 -0.1em;
    }
  }

  &__hide {
    display: none;
  }
}

.nav-list {
  --nav-spacing: 1rem;

  background: var(--c-header-background);
  height: 2.5rem;
  color: var(--c-text);
  margin: 0;
  position: relative;
  z-index: 2;
  width: 100%;
  pointer-events: auto;
  flex-wrap: wrap;
  font-size: 1rem;
  display: flex;
  white-space: nowrap;

  &::after {
    content: "";
    background: var(--c-nav-border);
    height: 2px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .group {
    box-sizing: border-box;
    display: flex;
    list-style: none;
    margin: auto;
    z-index: 2;
  }

  &__logo {
    @include min-width($breakpoint-small) {
      width: 2 / 12 * 100%;
    }

    @include min-width($breakpoint-mid) {
      width: 1 / 12 * 100%;
    }

    .nav-logo {
      margin-right: var(--nav-spacing);
    }
  }

  &__shim {
    flex: 1;
    display: grid;
    position: relative;
    height: 2.5rem;

    @include min-width($breakpoint-large) {
      width: 8 / 12 * 100%;
      flex: auto 0;
      margin-right: auto;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 2px;
      width: var(--nav-spacing);
      pointer-events: none;
      z-index: 3;
    }

    &::before {
      left: calc(var(--nav-spacing) * -1);
      background: linear-gradient(
        to right,
        var(--c-header-background),
        transparent
      );
    }

    &::after {
      right: calc(var(--nav-spacing) * -1);
      background: linear-gradient(
        to left,
        var(--c-header-background),
        transparent
      );
    }
  }

  &__item {
    margin-left: 0;

    @include min-width($breakpoint-large) {
      display: flex;
    }

    &--mind {
      @include max-width($breakpoint-xsmall) {
        display: none;
      }

      a {
        &::after {
          color: currentColor;
          transition: none;
        }

        [data-theme="dark"] &,
        [data-theme="light"] & {
          color: var(--c-mind);
        }

        &:hover {
          color: var(--c-link-hover);
        }
      }
    }
  }

  &__link {
    line-height: 1;
    color: var(--c-text);
    box-sizing: border-box;
    align-items: center;
    display: flex;
    height: 2.5rem;
    padding-bottom: 0.334em;
    position: relative;
    text-decoration: none;

    &:hover {
      color: var(--c-link-hover);
    }

    &.lead {
      padding-bottom: 0.5em;
    }
  }

  &__list,
  &__theme-selector {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    gap: calc(var(--spacing) / 2);
    overflow-y: hidden;
    overflow-x: auto;
    transition: opacity 250ms ease-in-out, transform 250ms ease-in-out,
      visibility 0ms 0ms;
    margin: 0 calc(var(--nav-spacing) * -1);
    padding: 0 var(--nav-spacing);

    @include min-width($breakpoint-large) {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      gap: 0;
    }

    &[hidden] {
      visibility: hidden;
      opacity: 0;
      transition: opacity 250ms ease-in-out, transform 250ms ease-in-out,
        visibility 0ms 250ms;
    }

    @media (prefers-reduced-motion) {
      transform: none !important;
    }
  }

  &__list {
    list-style: none;

    &[hidden] {
      transform: translateX(0.5rem);
    }
  }

  &__theme-toggle {
    color: var(--c-header-accent);
    grid-column: -3 / -1;
    display: flex;
    gap: var(--nav-spacing);
    margin-left: calc(var(--nav-spacing) * 1.5);

    @include min-width($breakpoint-large) {
      width: 2 / 12 * 100%;
      gap: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    button {
      cursor: pointer;
      margin-left: auto;
      border: 0;
      background: none;
      outline: none;
      padding-left: 0;

      @include min-width($breakpoint-large) {
        width: 100%;
      }

      &:focus-visible {
        outline: 2px solid var(--c-focus-ring);
      }

      svg {
        width: 0.5em;
        height: 0.5em;
        transition: transform 250ms ease-in-out;
        margin-top: 0.25em;
        margin-right: 0.5em;
      }

      path {
        fill: currentColor;
      }

      &[aria-pressed="true"] {
        svg {
          transform: rotate(45deg);
        }
      }

      @at-root {
        @include max-width($breakpoint-small) {
          #nav-grid-toggle {
            display: none;
          }
        }
      }
    }
  }

  &__theme-selector {
    position: relative;

    &[hidden] {
      transform: translateX(-0.5rem);
    }

    .focus-ring {
      border: 2px solid var(--c-focus-ring);
      position: absolute;
      top: 0;
      right: var(--nav-spacing);
      left: var(--nav-spacing);
      bottom: 0;
      visibility: hidden;
      pointer-events: none;
    }

    label {
      font-size: $paragraph-small;
      color: var(--c-semi);
      cursor: pointer;
      font-weight: $font-weight-body-bold;
      user-select: none;
      position: relative;
      z-index: 2;

      &:hover {
        color: var(--c-accent);
      }
    }
    input:checked + label {
      color: var(--c-text);
      cursor: default;
    }
    input:focus-visible ~ .focus-ring {
      visibility: visible;
    }

    .soon {
      color: inherit;

      &::after {
        white-space: pre-wrap;
        color: var(--c-accent);
        content: "High Contrast";
        top: -0.1em;
        width: 4.1em;
      }
    }
  }

  .active,
  &__theme-selector input:checked + .nav-list__item label {
    &::before {
      content: "";
      position: absolute;
      background: currentColor;
      height: 100%;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
    }
  }
}
