$nav-height: 2.5rem;

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  pointer-events: none;
  text-align: right;
  display: flex;
  flex-direction: column;

  .js--menu & {

    .nav-list {

      &,
      a::after {
        transform: none;
      }
    }
  }

  @media (hover: hover) and (pointer: fine) {

    &:hover,
    &:focus-within {

      .nav-list {

        &,
        a::after {
          transform: none;
        }
      }
    }
  }
}

.nav-logo-wrapper {
  animation: nav 800ms 500ms ease-out both;
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 10;

  @keyframes nav {
    0% {
      opacity: 0;
      transform: translateY(-5%);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }

  @media (prefers-reduced-motion) {
    animation-name: opacity;
    animation-duration: 500ms;
  }
}

.nav-toggle {
  box-sizing: border-box;
  appearance: none;
  background: var(--c-hB);
  display: flex;
  color: var(--c-bA);
  font-family: inherit;
  font-weight: 500;
  pointer-events: auto;
  line-height: 1;
  height: 44px;
  border-radius: 0;
  border: 2px solid var(--c-bD);
  position: fixed;
  bottom: 4vw;
  right: 4vw; // 92%
  width: 44px;
  z-index: 999;

  @include min-width(600) {
    bottom: 24px;
  }

  @include min-width(1566) {
    left: calc(50% + 40rem - 44px);
    right: auto;
  }

  &:focus {
    border-color: currentColor;
    outline: none;
  }

  > svg {
    display: block;
    margin: auto;
    overflow: visible;
  }

  path {
    fill: currentColor;
    transform-origin: center center;
    transition: transform 250ms ease-in-out;

    .js--menu & {
      transform: rotate(90deg);
    }
  }

  @media(hover: hover) and (pointer: fine) {
    display: none;
  }
}

.nav-logo {
  color: var(--c-hB);
  display: inline-block;
  pointer-events: auto;
  padding: 1.25em 0.25em 0.75em;
  margin-bottom: -0.75em;
  text-decoration: none;
  transition: 250ms ease-in-out;
  transition-property: opacity, transform;
  font-family: 'rsa-heading', serif;
  line-height: 1.3;
  font-size: 1.25rem;
  transform: translateY(-0.25em);
  width: 2.25em;
  text-align: center;
  position: absolute;
  right: 0;

  &::before,
  &::after {
    background: var(--c-bA);
    position: absolute;
    content: '';
    top: -0.25em;
    left: 0;
    width: 100%;
    bottom: 0;
    transform: skewY(5deg);
    transform-origin: right bottom;
    backface-visibility: hidden;
  }

  &::before {
    background: var(--c-bB);
  }

  &::after {
    transition: opacity 250ms ease-in-out;
  }

  &:hover,
  &:focus {
    color: var(--c-hB);
    outline: 0;
    transform: none;
  }

  &:active {
    opacity: 1;

    &::after {
      opacity: 0.5;
    }
  }

  &:focus {

    &::after {
      outline: var(--c-bS) 1px dotted;
    }
  }

  > span {
    position: relative;
    z-index: 2;
  }

  &__hide {
    display: none;
  }
}

.nav-list {
  background: var(--c-hB);
  border-bottom: 2px solid var(--c-bB);
  color: var(--c-bC);
  margin: 0;
  position: relative;
  z-index: 2;
  width: 100%;
  pointer-events: auto;
  flex-wrap: wrap;
  font-size: 1rem;
  padding: 0.5rem 0 1rem;
  display: flex;
  transition: transform 350ms ease-in-out;
  transform: translateY(calc(-100% + 2px));

  &::after {
    content: '';
    width: 100%;
    height: 1.5rem;
    position: absolute;
    top: 100%;
    left: 0;
  }

  .group {
    box-sizing: border-box;
    display: grid;
    grid-gap: 1rem;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    margin: auto;
    padding-right: 7rem;
    text-align: left;

    @include min-width(480) {
      grid-template-columns: repeat(3, 8rem);
    }
  }

  li {
    margin-left: 0;
  }

  ul {
    padding: 0;
    list-style: none;

    ul {
      font-size: $paragraph-small;

      li {
        margin-top: 0.25rem;
      }
    }
  }

  a {
    box-sizing: border-box;
    align-items: center;
    padding: 0 1.25em 0 0;
    position: relative;
    text-decoration: none;

    &:focus {
      outline: var(--c-bC) 1px dotted;
    }

    &.active {
      padding-right: 0;

      &::before {
        display: inline-block;
        vertical-align: top;
        content: '– ';
        color: var(--c-bA);
        width: 1.25em;
        transform: scale(2, 1);
        transform-origin: center left;
      }
    }
  }
}
