@page {
  size: A4;
  margin: 20mm 10mm 0mm;
}

*, *::before, *::after {
  animation: none !important;
  transition: none !important;
}

html {

  &[data-theme],
  body {
    width: 210mm;
    height: 297mm;
  }

  &[data-theme] {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;

    --c-header-background: white;

    --c-background: white;
    --c-text: black;
    --c-accent: black;
    --c-semi: rgba(black, 0.75);

    font-size: 13px;
  }

  body {
    margin-left: auto;
    margin-right: auto;
  }

  h1, h2, h3, h4, h5 {
    page-break-after: avoid;
  }

  ul {
    page-break-inside: avoid;
  }

  a[href][href] {
    text-decoration: underline;
    text-decoration-color: currentColor !important;

    &::after {
      content: ' [' attr(href) ']';
      color: inherit;
      letter-spacing: 0;
      margin: 0;
      top: auto;
      font-size: inherit;
      text-decoration: underline;
      text-decoration-color: var(--c-background) !important;
    }
  }

  .h1 a,
  .hero__header a,
  [href^="#"] {
    text-decoration: none !important;

    &::after {
      display: none;
    }
  }

  .main {
    margin: 0 0 auto;
    padding: 0;
  }

  .hero__angle,
  .nav,
  .footer .fieldset {
    display: none;
  }

  .hero {
    flex: none;
    padding: 0;
    overflow: hidden;
    margin: 0;

    .h1 {
      color: currentColor;
    }

    > .group {
      margin-top: 4rem;
      margin-bottom: 2rem;
    }
  }

  .footer {
    margin-top: 4rem;

    &__wrapper {
      padding: 2rem 0;
    }

    p {
      margin-bottom: 2rem;
    }

    &__links {

      li {
        display: block;
      }
    }
  }

  .figure {

    &__image {

      > img {
        max-width: 100mm;
      }
    }

    &__overlay {
      display: none;
    }
  }
}
