* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html,
body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

abbr {
  border: 0;
  text-decoration: none;
}
