html,
body,
fieldset,
figure,
blockquote,
dl,
dd,
dt {
  padding: 0;
  margin: 0;
}

abbr {
  text-decoration: none;
  border-bottom: 0;
}

strong {
  font-weight: 500;
}

fieldset {
  border: 0;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  border-radius: 0;
  outline: 0;
  font-family: inherit;
}
