$c-fueled: #ae0000;
$c-netlify: #15847d;
$c-strava: #fc4c02;
$c-linkedin: #0077b5;
$c-zoopla: #8046f1;

html {
  --font-family-body: #{$font-family-body};
  --spacing: 2rem;
  --figure-opacity: 1;
  // --c-grid: 108, 133, 255;
  --c-grid: 0, 205, 205;
  --c-accent: var(--c-text);
  --c-highlight: var(--c-accent);
  --c-focus-ring: var(--c-link-idle);
  --c-decorative: var(--c-semi);

  --c-header-background: var(--c-background);
  --c-header-accent: var(--c-accent);

  --c-link-idle: currentColor;
  --c-link-underline-idle: var(--c-semi);
  --c-link-arrow-idle: var(--c-link-idle);

  --c-link-hover: var(--c-accent);
  --c-link-underline-hover: var(--c-accent);
  --c-link-arrow-hover: var(--c-accent);

  --c-nav-border: var(--c-background);

  @include min-width($breakpoint-small) {
    --spacing: calc(1rem + 2vw);
  }
}

$c-dark-header-background: #110e14;
$c-dark-accent: #f75c6a;
$c-dark-background: #1c181f;
$c-dark-text: #eee7e7;

[data-theme="dark"] {
  --figure-opacity: 0.9;

  --c-header-background: #{$c-dark-header-background};

  --c-background: #{$c-dark-background};
  --c-text: #{$c-dark-text};
  --c-semi: #{mix($c-dark-text, $c-dark-background, 55%)};
  --c-accent: #{$c-dark-accent};
  --c-decorative: #{mix($c-dark-text, $c-dark-header-background, 25%)};
  --c-highlight: #105c63;
  --c-focus-ring: var(--c-accent);
  --c-link-arrow-idle: var(--c-accent);

  --c-codepen: #fefefe;
  --c-envato: #82b541;
  --c-fueled: #{lighten($c-fueled, 10%)};
  --c-zoopla: #{lighten($c-zoopla, 15%)};
  --c-github: #79b8ff;
  --c-instagram: #f00075;
  --c-linkedin: #{lighten($c-linkedin, 10%)};
  --c-netlify: #{lighten($c-netlify, 10%)};
  --c-strava: #{mix($c-strava, yellow, 90%)}; // Mix Strava with yellow to avoid it going too beige
  --c-twitter: #00acee;
  --c-youtube: #ff0000;
  --c-mind: #9aa8ff;
  --c-11ty: #00bcd4;
}

$c-light-header-background: #fcfbfb;
$c-light-accent: #ea3243;
$c-light-background: #f6f3f3;
$c-light-text: #19161c;

[data-theme="light"] {
  --c-header-background: #{$c-light-header-background};
  --c-header-accent: #{$c-light-accent};

  --c-background: #{$c-light-background};
  --c-text: #{$c-light-text};
  --c-semi: #{mix($c-light-text, $c-light-background, 60%)};
  --c-accent: #{darken($c-light-accent, 8%)};
  --c-decorative: #{mix($c-light-text, $c-light-header-background, 18%)};
  --c-highlight: #ffe385;
  --c-focus-ring: var(--c-accent);
  --c-link-underline-idle: #{mix($c-light-text, $c-light-header-background, 25%)};
  --c-link-arrow-idle: var(--c-accent);

  --c-codepen: #1e1f26;
  --c-envato: #82b541;
  --c-fueled: #{$c-fueled};
  --c-zoopla: #{$c-zoopla};
  --c-github: #0366d6;
  --c-instagram: #f00075;
  --c-linkedin: #{$c-linkedin};
  --c-netlify: #{$c-netlify};
  --c-strava: #{$c-strava};
  --c-twitter: #00acee;
  --c-youtube: #ff0000;
  --c-mind: #2500c1;
  --c-11ty: #00bcd4;
}

[data-theme="dark-contrast"],
[data-theme="light-contrast"] {
  // --c-grid: 255, 0, 0;
  --c-nav-border: var(--c-decorative);
}

[data-theme="dark-contrast"] {
  --c-background: #050509;
  --c-text: #eff2fe;
  --c-semi: #{rgba(#edf0ff, 0.85)};
  --c-decorative: #1a1b27;
  --c-accent: #fcd156;
  --c-highlight: #c296fe;
  --c-focus-ring: #77effe;
  --c-link-idle: #77effe;
  --c-link-underline-idle: #77effe;
}

[data-theme="light-contrast"] {
  --c-background: white;
  --c-text: #180044;
  --c-semi: #{rgba(#001044, 0.8)};
  --c-decorative: #{rgba(#001044, 0.5)};
  --c-accent: #001044;
  --c-highlight: #fcd156;
  --c-focus-ring: #0039c9;
  --c-link-idle: #0039c9;
  --c-link-underline-idle: #{rgba(#0039c9, 0.6)};
  --c-nav-border: #{rgba(#001044, 0.3)};
}

[data-theme="rs"] {
  --font-family-theme: "gielinor-body", sans-serif;

  --c-header-background: #d0bd9b;
  --c-background: #e1dac7;
  --c-text: #1b1915;
  --c-accent: #3c301b;
  --c-semi: #{rgba(#201b12, 0.7)};
  --c-decorative: #{mix(#201b12, #d0bd9b, 30%)};
  --c-link-idle: #0f0ef8;
  --c-link-underline-idle: #{rgba(#0f0ef8, 0.5)};
  --c-nav-border: var(--c-decorative);
  --c-highlight: yellow;

  .hero__header .lead {
    font-family: var(--font-family-theme);
    background: var(--c-accent);
    color: yellow;
    text-shadow: black 1px 1px 0;
    padding: 0 0.5em 0.1em;
    font-size: 18px;
  }
}

[data-theme="it"] {
  --c-background: #0058b8;
  --c-text: white;
  --c-semi: #{rgba(white, 0.8)};
  --c-accent: #e6d28d;
  --c-highlight: #{darken(#004ca0, 10%)};
  --c-focus-ring: var(--c-accent);
  --c-header-background: #{darken(#0058b8, 5%)};
  --c-decorative: #{darken(#0058b8, 5%)};

  .hero__header .lead {
    background: linear-gradient(
      to right,
      green 33.3%,
      white 33.3% 66.6%,
      red 66.6%
    );
    background-size: 40px 3px;
    min-width: 40px;
    background-repeat: no-repeat;
  }
}
