abbr {
  text-decoration: none;
  border-bottom: 0;
}

strong {
  font-weight: 500;
}

p {
  margin-top: 0;
  margin-bottom: 0.5em;
  max-width: 36em;
}

.sc {
  font-variant-caps: all-small-caps;
}

.h1 {
  font-family: 'rsa-heading', serif;
  font-weight: 600;
  color: var(--c-header-accent);
  max-width: 18em;
  margin: 2vw 0 4vw;
  line-height: 1.2;
  font-size: 5.5vw;
  font-size: clamp(2rem, calc(2rem + 2.5vw), 4rem);

  .sc {
    font-family: 'rsa-heading-sc', 'rsa-heading', serif;
    font-variant-caps: initial;
    text-transform: lowercase;
  }
}

.lead {
  color: var(--c-body-accent);
  font-variant: all-small-caps;
  font-weight: 500;
}

.lead a {
  text-decoration-color: currentColor;
}

.lead a:hover,
.lead a:focus {
  color: var(--c-body-color);
}
