%heading-large {
  font-family: $font-family-heading;
  font-weight: 600;
  letter-spacing: -0.01em;
  display: table; // Allows the highlight to work effectively

  .sc {
    font-family: $font-family-heading-sc;
    font-variant-caps: initial;
    text-transform: lowercase;
  }
}

%h1 {
  @extend %heading-large;

  max-width: 13em;
  line-height: 1.2;
  margin: calc(0.25em + 1vw) 0 calc(0.25em + 2vw);
  font-size: 5.5vw;
  font-size: clamp(2rem, calc(2rem + 2.5vw), 4rem);
}

%heading-lead {
  font-size: 1.05rem; // TODO: Var 1.05 (from @mixin lead below)
  margin-bottom: 0.5em;
}

%h2 {
  @extend %heading-large;

  margin-top: 2em;
  line-height: 1.3;
  margin-bottom: 0.667em;
  font-size: 2rem;
  max-width: 24em;
  scroll-margin-top: 1.5em;

  .lead {
    @extend %heading-lead;
  }
}

%h3 {
  display: table; // Allows the highlight to work effectively
  font-weight: 500;
  font-size: 1.35rem;
  line-height: 1.4; // TODO: Var
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  scroll-margin-top: 1.25em;

  .lead {
    @extend %heading-lead;
  }
}

@mixin lead($link: true) {
  @include sc;

  color: var(--c-bA);
  font-family: $font-family-body;
  font-weight: 500;
  font-variant-numeric: lining-nums;
  line-height: 1.4; // TODO: Var (from %h3)
  padding-right: 0.1em;

  abbr {
    border: 0;
    text-decoration: none;
  }

  @if ($link) {

    a {
      --link-state-color: var(--c-bA);
      text-decoration-color: currentColor !important;

      &:hover,
      &:focus {
        --link-state-color: var(--c-bC);
        color: var(--c-bC);
      }
    }
  }
}
