%heading-large {
  font-family: 'rsa-heading', serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.01em;
  display: block;

  .sc {
    font-family: 'rsa-heading-sc', 'rsa-heading', serif;
    font-variant-caps: initial;
    text-transform: lowercase;
    line-height: 1;
  }
}

%h1 {
  @extend %heading-large;

  max-width: 16em;
  margin: calc(0.25em + 1vw) 0 calc(0.25em + 2vw);
  font-size: 5.5vw;
  font-size: clamp(2rem, calc(2rem + 2.5vw), 4rem);
}

%h2 {
  @extend %heading-large;

  margin-top: 1.5em;
  margin-bottom: 0.667em;
  font-size: 1.875rem;
  scroll-margin-top: 1.5em;
}

%h3 {
  font-weight: 500;
  font-size: 1.4rem;
  margin-top: 1.25em;
  margin-bottom: 0.5em;
  scroll-margin-top: 1.25em;
}

%lead {
  @include sc;

  color: var(--c-bA);
  font-weight: 500;
}

%lead-a {
  text-decoration-color: currentColor;

  &:hover,
  &:focus {
    color: var(--c-bC);
  }
}
