@font-face {
  font-family: 'rsa-heading';
  src: url('/fonts/heading-600.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'rsa-heading';
  src: url('/fonts/heading-400i.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'rsa-heading-sc';
  src: url('/fonts/heading-600-sc.woff2') format('woff2');
  font-weight: 600;
  font-display: optional;
  font-style: normal;
}

@font-face {
  font-family: 'rs-body';
  src: url('/fonts/body-400.woff2') format('woff2');
  font-weight: $font-weight-body-regular;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'rs-body';
  src: url('/fonts/body-600.woff2') format('woff2');
  font-weight: $font-weight-body-bold;
  font-display: swap;
  font-style: normal;
}
