@font-face {
  font-display: swap;
  font-family: 'clone';
  font-weight: 300;
  src: url('fonts/c-300.woff2');
}

@font-face {
  font-display: swap;
  font-family: 'clone';
  font-weight: 500;
  src: url('fonts/c-500.woff2');
}

@font-face {
  font-display: swap;
  font-family: 'avory';
  font-weight: 600;
  src: url('fonts/a-600.woff2');
}

@font-face {
  font-display: swap;
  font-family: 'avory';
  font-weight: 800;
  src: url('fonts/a-800.woff2');
}

@font-face {
  font-display: swap;
  font-family: 'avory';
  font-style: italic;
  font-weight: 600;
  src: url('fonts/a-600i.woff2');
}
