@charset 'UTF-8';

// ==== Framework ========================================================
// Colors
// =======================================================================


// ==== Colors ==============================
// Base
// ==========================================

// sass-lint:disable no-color-keywords
$color-dark: #2D2A32;
$color-white: #FAFDF6;

$base-colors: (
  // Base
  white: $color-white,
  black: #000000,

  // Greyscale
  light: mix($color-white, $color-dark, 90%),
  mid: mix($color-dark, $color-white, 33.33%),
  dark: $color-dark,
  off-dark: darken($color-dark, 5%),

  // Brand
  accent: #F45B69,
  secondary: #ffb500,

  // States
  success: green,
);
// sass-lint:enable no-color-keywords


// ==== Colors ==============================
// Modules
// ==========================================

// sass-lint:disable no-color-keywords
$module-colors: (
  // Default
  default-box-shadow: rgba(color(black), 0.33),

  // Base
  base-bg: color(dark),
  base-color: color(light),
  base-selection-bg: color(black),
  base-selection-color: color(white),

  // Bg
  bg-bg: color(off-dark),

  // Block
  block-accent-bg: color(accent),
  block-accent-color: color(white),

  block-dark-bg: color(dark),
  block-dark-color: color(white),

  block-light-bg: color(light),
  block-light-color: color(dark),
  block-light-blockquote-color: rgba(color(dark), 0.5),
  block-lightest-bg: color(white),

  block-mid-bg: color(mid),
  block-mid-color: color(dark),

  // Buttons
  button-primary-color: color(white),
  button-primary-bg: color(accent),
  button-primary-bg-hover: darken(color(accent), 5%),
  button-primary-border: darken(color(accent), 5%),

  button-secondary-color: color(white),
  button-secondary-bg: color(dark),
  button-secondary-bg-hover: lighten(color(dark), 10%),
  button-secondary-border: lighten(color(dark), 10%),

  button-tertiary-color: color(dark),
  button-tertiary-bg: lighten(color(light), 3%),
  button-tertiary-bg-hover: lighten(color(light), 5%),
  button-tertiary-border: lighten(color(light), 5%),

  button-disabled-bg: rgba(mix(black, white), 0.5),

  button-success-bg: color(success),
  button-success-border: darken(color(success), 5%),

  // Footer
  footer-bg: color(dark),
  footer-color: color(mid),

  // Form
  form-field-bg: color(white),
  form-field-border: color(light),
  form-field-border-error: color(accent),
  form-field-border-focus: color(dark),
  form-field-autofill-bg: mix(yellow, white, 15%),
  form-input-color: color(dark),
  form-input-placeholder-color: color(dark),
  form-checkbox-bg: color(white),

  // Header
  // header-bg: mix(#403F3F, color(dark)), // TODO: Refactor
  header-bg: color(off-dark),
  header-color: color(white),
  header-btn-tertiary-color: color(accent),

  // Home
  home-bg: color(accent),

  // Logo
  logo-default-color: color(white),
  logo-default-bg: color(accent),

  // Links
  link-accent: color(accent),

  // Loader
  loader-bg-accent: color(accent),
  loader-bg: color(off-dark), // WHY: Matches module-color(base-bg)

  // Modal
  modal-bg: rgba(color(dark), 0.75),
  modal-wrapper-bg: color(light),
  modal-header-bg: color(accent),
  modal-header-color: color(white),
  modal-footer-bg: color(mid),
  modal-footer-color: color(white),
);
// sass-lint:enable no-color-keywords


// ==== Colors ==============================
// Social
// ==========================================

$social-colors: (
  twitter:   #00ACED,
  facebook:  #3B5998,
  instagram: #D93175,
  gplus:     #CC3732,
  dribbble:  #EA4C89,
  pinterest: #CC2127,
  tumblr:    #44546B,
  vine:      #00B489,
  youtube:   #CD201F,
  medium:    #1A1919,
  vimeo:     #1AB7EA,
  linkedin:  #0077B4,
);
