@charset 'UTF-8';

// ==== Framework ===================================================================
// Constants
// =======================================================================


// ==== Constants ===========================
// Typography
// ==========================================

// Base
$font-default-size: 16;

// Families
$font-family-body: 'grad', 'freight-sans-pro', sans-serif;
$font-family-heading: 'grad', 'freight-text-pro', serif;
$font-family-mono: 'clone-rounded-latin', monospace;

// Variables
$line-height-body: 1.5;
$line-height-large: 1.4;
$line-height-header: 1.25;
$strong-weight: 600;

// H1
$h1-font-size-l: 64;
$h1-font-size-s: 48;

// H2
$h2-font-size-l: 36;
$h2-font-size-s: 24;

// H3
$h3-font-size-l: 18;
$h3-font-size-s: 16;

// H4
$h4-font-size-l: 15;
$h4-font-size-s: 13;

// H5
$h5-font-size-l: 22;
$h5-font-size-s: 18;

// H6
$h6-font-size-l: 14;
$h6-font-size-s: 13;

// Paragraph
$p-font-size-l: 20;
$p-font-size-s: 16;

// Huge
$huge-font-size-l: 60;
$huge-font-size-s: 34;

// Large
$large-font-size-l: 26;
$large-font-size-s: 20;

// Medium
$medium-font-size-l: 22;
$medium-font-size-s: 18;

// Small
$small-font-size-l: 18;
$small-font-size-s: 14;

// Tiny
$tiny-font-size-l: 16;
$tiny-font-size-s: 12;

// Form
$form-input-font-size-l: 16;
$form-input-font-size-s: 16;

// Button Primary
$button-primary-font-size-l: 20;
$button-primary-font-size-s: 16;

// Button Secondary
$button-secondary-font-size-l: $p-font-size-l;
$button-secondary-font-size-s: $p-font-size-s;

// Button Tertiary
$button-tertiary-font-size-l: 13;
$button-tertiary-font-size-s: 12;


// ==== Constants ===========================
// Variables
// ==========================================

// Dynamic type
$base-dynamic-type: 1410;

// Loader
$loader-z-index: 99;

// Logo
$logo-width: 56;
$logo-height: 56;


// ==== Constants ===========================
// Timing
// ==========================================

$timing: 250ms;

$timing-transition: 600ms;
$timing-button: $timing;
$timing-link: $timing;
$timing-modal: 300ms;


// ==== Constants ===========================
// Easing
// ==========================================

$easing: cubic-bezier(0.25, 0.1, 0.25, 1);
$easing-spring: cubic-bezier(0.17, 0.89, 0.36, 2);
$easing-spring-gentle: cubic-bezier(0.17, 0.89, 0.36, 1.2);

$easing-link: $easing;
$easing-hero: $easing-spring;
$easing-loader-logo: $easing-spring-gentle;


// ==== Constants ===========================
// Units
// ==========================================

$unit: rem(8);

$units: (
  // Base
  base-gutter: unit(2),

  // Auth
  auth-width: rem(400),

  // Button
  button-border-width: 2px,
  button-icon-margin: rem(6),
  button-height-s: 3em,
  button-height-m: 3.5em,
  button-height-l: 4em,
  button-inner-padding-s: 1em,
  button-inner-padding-m: 1.5em,
  button-inner-padding-l: 2em,

  // Form
  // TODO: Abstract from _form.scss

  // Header
  header-offset: rem(20),
  header-height: rem(72),
  header-logo-width: rem($logo-width),

  // Icon
  icon-width: rem(22),

  // Logo
  logo-width: rem($logo-width),

  // Modal
  modal-padding: unit(2),
  modal-wrapper-border-radius: rem(4),
  modal-wrapper-width: rem(800),
  modal-content-padding: unit(4),
  modal-content-padding-mobile: unit(2),
  modal-content-height: rem(400),

  // Navigation
  navigation-item-height: rem(48),
  navigation-item-padding: unit(2),
);


// ==== Constants ===========================
// Breakpoints and Tweakpoints
// ==========================================

$breakpoints: (
  0:         0, //    0
  xxs: 16 * 16, //  256
  xs:  32 * 16, //  512
  s:   48 * 16, //  768
  m:   64 * 16, // 1024
  l:   96 * 16, // 1536
  xl: 102 * 16, // 1632
);

$tweakpoints: (
  // Base
  base-layout-wide: bp(s),
  base-dynamic-type: $base-dynamic-type,

  // Header
  header-fixed: bp(s),
  header-small: bp(xs),

  // Modal
  modal-mobile: bp(s),
);
