@charset 'UTF-8';

// ==== Framework ===================================================================
// Global
// =======================================================================


// ==== Global ==============================
// Box sizing fix
// ==========================================

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}


// ==== Global ==============================
// Base setup
// ==========================================

html,
body,
input,
button, {
  font-family: $font-family-body;
}


// ==== Global ==============================
// Base layout
// ==========================================

html,
body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

html {
  box-sizing: inherit;
  font-family: $font-family-body;
  height: 100%;

  @include min-width(tp(base-dynamic-type)) {
    font-size: calc(0.56rem + 0.4vw);
  }
}

body {
  #{--base-bg}: module-color(base-bg-dark);
  #{--base-color}: module-color(base-color-dark);

  #{--bg-bg}: module-color(bg-bg-dark);
  #{--bg-bg-50}: rgba(module-color(bg-bg-dark), 0.5);

  #{--link-color}: module-color(link-dark);

  #{--accent-AA}: #EB3f4f;
  #{--accent-AAA}: lighten(#F44A5A, 4%);

  -moz-osx-font-smoothing: grayscale; // sass-lint:disable-line no-vendor-prefixes
  -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes

  background: var(--base-bg) center no-repeat;
  color: var(--base-color);
  font-size: em($font-default-size);
  width: 100%;

  @media (prefers-color-scheme: light) {
    #{--base-bg}: module-color(base-bg-light);
    #{--base-color}: module-color(base-color-light);

    #{--bg-bg}: module-color(bg-bg-light);
    #{--bg-bg-50}: rgba(module-color(bg-bg-light), 0.5);

    #{--link-color}: module-color(link-light);

    #{--accent-AA}: darken(#EB3f4f, 3%);
    #{--accent-AAA}: #CD1828;
  }
}



// ==== Global ==============================
// Extras
// ==========================================

::selection {
  background: var(--base-color);
  color: var(--base-bg);
}
