@charset 'UTF-8';

// ==== Framework ========================================================
// Helpers
// =======================================================================


// ==== Helpers =============================
// Visuallyhidden
// ==========================================

.visuallyhidden {
  @include visuallyhidden;
}


// ==== Helpers =============================
// Positional
// ==========================================

.cover {
  @include cover;

  &--fixed {
    @include cover(fixed);
  }
}


// ==== Helpers =============================
// Display
// ==========================================

.dt { display: table; }
.di { display: inline-block; }
.dib { display: inline-block; }


// ==== Helpers =============================
// Vertical Alignment
// ==========================================

.vam {
  vertical-align: middle;
}


// ==== Helpers =============================
// Flexbox
// ==========================================

.fb {
  display: flex;
}

.fbg {
  flex-grow: 1;
}


// ==== Helpers =============================
// Margins
// ==========================================

.m  { margin:        unit(base-gutter); }
.mb { margin-bottom: unit(base-gutter); }
.mt { margin-top:    unit(base-gutter); }

.ma  { margin:        auto; }
.mba { margin-bottom: auto; }
.mla { margin-left:   auto; }
.mra { margin-right:  auto; }
.mta { margin-top:    auto; }

.m0  { margin:        0; }
.mb0 { margin-bottom: 0; }
.mt0 { margin-top:    0; }

.mbh { margin-bottom: unit(base-gutter) / 2; }
.mth { margin-top:    unit(base-gutter) / 2; }

.mb-h { margin-bottom: unit(base-gutter) / -2; }
.mt-h { margin-top:    unit(base-gutter) / -2; }


// ==== Helpers =============================
// Pointer Events
// ==========================================

.pen {
  pointer-events: none;
}

.pea {
  pointer-events: auto;
}
