@charset 'UTF-8';

// ==== Modules ==========================================================
// Links
// =======================================================================


// ==== Links ===============================
// Base
// ==========================================

a,
.link {
  appearance: none;
  background: none;
  border: 0;
  color: var(--link-color); // TODO: Var
  cursor: pointer;
  fill: currentColor;
  font: inherit;
  letter-spacing: unset;
  outline: 0;
  text-decoration: underline;
  text-decoration-skip: ink;
  text-transform: unset;
  transition:
    opacity $timing-link $easing-link; // sass-lint:disable-line indentation
}


// ==== Links ===============================
// Classes
// ==========================================

.link {
  &:hover {
    opacity: 0.75; // TODO: Var
  }

  &:active {
    opacity: 0.5; // TODO: Var
  }

  &--no-underline,
  &--internal,
  &--anchor {
    text-decoration: none;
  }

  &--inherit {

    &:link {
      opacity: 1;
      text-decoration: none;
    }
  }
}
