@charset 'UTF-8';

// ==== Modules ==========================================================
// Links
// =======================================================================


// ==== Links ===============================
// Base
// ==========================================

a,
.link {
  appearance: none;
  background: none;
  border: 0;
  color: white; // TODO: Var
  cursor: pointer;
  fill: currentColor;
  font: inherit;
  letter-spacing: unset;
  outline: 0;
  text-decoration: underline;
  text-decoration-skip: ink;
  text-transform: unset;
  transition:
    opacity $timing-link $easing-link; // sass-lint:disable-line indentation
}

// ==== Links ===============================
// Extends
// ==========================================

%link {

  &:hover {
    opacity: 0.75; // TODO: Var
  }

  &:active {
    opacity: 0.5; // TODO: Var
  }
}

%link-accent {
  color: module-color(link-accent);
  fill: module-color(link-accent);
}

%link-reversed {
  opacity: 0.33;

  &:hover {
    opacity: 0.66;
  }

  &:active {
    opacity: 1;
  }
}

%link-no-underline {
  text-decoration: none;
}


// ==== Links ===============================
// Classes
// ==========================================

.link {
  @extend %link;

  &--accent {
    @extend %link-accent;
  }

  &--reversed {
    @extend %link-reversed;
  }

  &--no-underline,
  &--internal,
  &--anchor {
    @extend %link-no-underline;
  }

  &--inherit {

    &:link {
      opacity: 1;
      text-decoration: none;
    }
  }
}

.links {

  a {
    @extend %link;
  }

  &--accent {

    a {
      @extend %link-accent;
    }
  }

  &--reversed {

    a {
      @extend %link-reversed;
    }
  }

  &--no-underline {

    a {
      @extend %link-no-underline;
    }
  }
}


// ==== Links ===================================
// Pseudo
// ==========================================

.link {

  &__pseudo {
    transition:
      opacity $timing-link $easing-link; // sass-lint:disable-line indentation

    // sass-lint:disable force-pseudo-nesting
    .link--pseudo:hover & {
      opacity: 0.75; // TODO: Var
    }

    .link--pseudo:active & {
      opacity: 0.5; // TODO: Var
    }

    .link--pseudo-reversed & {
      opacity: 0.5; // TODO: Var
    }

    .link--pseudo-reversed:hover & {
      opacity: 0.75; // TODO: Var
    }

    .link--pseudo-reversed:active & {
      opacity: 1; // TODO: Var
    }
    // sass-list:enable force-pseudo-nesting
  }
}
