@charset 'UTF-8';

// ==== Framework ========================================================
// Typography
// =======================================================================


// ==== Typography ==========================
// Extends
// ==========================================

%heading {
  display: block;
  font-family: $font-family-heading;
  font-weight: 500; // TODO: Var
  line-height: $line-height-header;
  margin: 1.5em 0 0.75em; // TODO: Var
  max-width: 28em;

  .link {
    text-decoration: none;
  }
}

%heading-mono {
  color: inherit;
  display: block;
  font-family: $font-family-mono;
  font-weight: 400; // TODO: Var
  letter-spacing: 0.15em;
  margin: 1.5em 0 0.5em 0; // TODO: Var
  text-transform: uppercase;

  .link {
    text-decoration: none;
  }
}

%h1 {
  @extend %heading;

  @include font-sizes($h1-font-size-s, $h1-font-size-l);
  @include accent(color);

  // color: color(dark); // TODO: Var
  // color: color(accent);
  display: table;
  font-family: $font-family-heading;
  font-style: italic;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 1.1;
  margin-top: 2em;
}

%h2 {
  @extend %heading;
  @include font-sizes($h2-font-size-s, $h2-font-size-l);
}

%h3 {
  @extend %heading-mono;
  @include font-sizes($h3-font-size-s, $h3-font-size-l);
}

%h4 {
  @extend %heading-mono;
  @include font-sizes($h4-font-size-s, $h4-font-size-l);

  font-weight: 500; // TODO: Var
}

%paragraph {
  display: block;
  font-weight: 400; // TODO: Var
  line-height: $line-height-body;
  margin: 1em 0;
  max-width: 32em;
}

%size-p {
  @include font-sizes($p-font-size-s, $p-font-size-l);
}

%size-huge {
  @include font-sizes($huge-font-size-s, $huge-font-size-l);
}

%size-large {
  @include font-sizes($large-font-size-s, $large-font-size-l);
}

%size-medium {
  @include font-sizes($medium-font-size-s, $medium-font-size-l);
}

%size-small {
  @include font-sizes($small-font-size-s, $small-font-size-l);
}

%p {
  @extend %paragraph;
  @extend %size-p;
}

%large {
  @extend %paragraph;
  @extend %size-large;

  max-width: 24em;
}

%medium {
  @extend %paragraph;
  @extend %size-medium;
}

%small {
  @extend %paragraph;
  @extend %size-small;
}

%blockquote {
  @extend %size-huge;

  font-family: $font-family-heading;
  font-style: italic;
  margin: 1em 0 0.5em;
  max-width: 18em;
  text-transform: uppercase;

  cite {
    @extend %p;

    display: block;
    font-family: $font-family-body;
    font-style: normal;
    margin-top: 0.5em;
    text-transform: none;

    &::before {
      content: '– ';
    }
  }

  a {
    @extend %link;
  }
}

// ==== Typography ==========================
// Classes
// ==========================================

.h1 {
  @extend %h1;

  &:first-child {
    margin-top: 0;
  }
}

.h2 {
  @extend %h2;
}

.h3 {
  @extend %h3;
}

.h4 {
  @extend %h4;
}

.p {
  @extend %p;
}

.large {
  @extend %large;
}

.medium {
  @extend %medium;
}

.small {
  @extend %small;
}

.blockquote {
  @extend %blockquote;
}


// ==== Typography ==========================
// Extras
// ==========================================

.type {

  &--sc {
    display: inline;
    font-variant: small-caps;
    text-transform: lowercase;
    font-size: 1em;
  }

  &--nb {
    white-space: nowrap;
  }
}

abbr {
  border: 0;
  text-decoration: none;
}


// ==== Typography ==========================
// Lists
// ==========================================

ul {
  list-style: none;
}


// ==== Typography ==========================
// Typeset
// ==========================================

.typeset {

  &--terms {
    max-width: rem(720); // TODO: Var
  }

  h1 {
    @extend %h1;

    &:first-child {
      margin-top: 0;
    }
  }

  h2 {
    @extend %h2;
  }

  h3 {
    @extend %h3;
  }

  h4 {
    @extend %h4;
  }

  p {
    @extend %p;
  }

  li,
  dl {
    margin: 0.5em auto;
  }

  small {
    @extend %small;
  }

  blockquote {
    @extend %blockquote;
  }

  strong {
    font-weight: $strong-weight;
  }

  ol,
  ul {
    @extend %p;

    counter-reset: section;
    padding-left: unit(base-gutter) * 1.5;

    @include min-width(500) {
      padding-left: unit(base-gutter) * 2;
    }

    li {
      display: block;
      padding-left: 0;
      text-indent: unit(base-gutter) * -3;

      &::before {
        content: '•';
        display: inline-block;
        font-variant-numeric: tabular-nums;
        font-weight: font-weight(medium);
        letter-spacing: -0.03em;
        margin-left: unit(base-gutter) / -2;
        padding-right: unit(base-gutter) / 2;
        text-align: right;
        text-indent: 0;
        width: unit(base-gutter) * 3;
      }

      dl,
      table {
        text-indent: 0;
      }
    }
  }

  ul {

    > li {

      &::before {
        color: color(accent);
      }
    }
  }

  ol {

    > li {
      counter-increment: section;

      &::before {
        content: counter(section) '.';
      }
    }

    ol {
      counter-reset: item;

      > li {
        counter-increment: item;

        &::before {
          content: counter(section, lower-alpha) '.' counter(item) '.';
        }
      }

      ol {
        counter-reset: subsection;

        > li {
          counter-increment: subsection;

          &::before {
            content: '(' counter(subsection, lower-alpha) ')';
          }
        }
      }
    }
  }
}
