@charset 'UTF-8';

// ==== Framework ========================================================
// Typography
// =======================================================================


// ==== Typography ==========================
// Extends
// ==========================================

%heading {
  display: block;
  font-family: $font-family-heading;
  font-weight: 400; // TODO: Var
  line-height: $line-height-header;
  margin: 1.5em 0 0.75em; // TODO: Var
  max-width: 28em;

  .link {
    text-decoration: none;
  }
}

%heading-mono {
  color: inherit;
  display: block;
  font-family: $font-family-mono;
  font-weight: 400; // TODO: Var
  letter-spacing: 0.15em;
  margin: 1.5em 0 0.5em 0; // TODO: Var
  text-transform: uppercase;

  .link {
    text-decoration: none;
  }
}

%h1 {
  @extend %heading;

  @include font-sizes($h1-font-size-s, $h1-font-size-l);

  @include max-width(320) {
    font-size: rem($h1-font-size-s) * 0.85;
  }

  color: var(--accent-AA);
  display: table;
  font-family: $font-family-heading;
  font-weight: 600;
  line-height: 1.1;
  margin-top: 2em;
}

%h2 {
  @extend %heading;
  @include font-sizes($h2-font-size-s, $h2-font-size-l);
}

%h3 {
  @extend %heading-mono;
  @include font-sizes($h3-font-size-s, $h3-font-size-l);
}

%h4 {
  @extend %heading-mono;
  @include font-sizes($h4-font-size-s, $h4-font-size-l);

  font-weight: 500; // TODO: Var
}

%paragraph {
  display: block;
  font-variant-numeric: oldstyle-nums;
  font-weight: 400; // TODO: Var
  letter-spacing: 0.01em;
  line-height: $line-height-body;
  margin: 1em 0;
  max-width: 32em;
}

%size-p {
  @include font-sizes($p-font-size-s, $p-font-size-l);
}

%size-huge {
  @include font-sizes($huge-font-size-s, $huge-font-size-l);
}

%size-large {
  @include font-sizes($large-font-size-s, $large-font-size-l);
}

%size-medium {
  @include font-sizes($medium-font-size-s, $medium-font-size-l);
}

%size-small {
  @include font-sizes($small-font-size-s, $small-font-size-l);
}

%p {
  @extend %paragraph;
  @extend %size-p;
}

%large {
  @extend %paragraph;
  @extend %size-large;

  max-width: 24em;
}

%medium {
  @extend %paragraph;
  @extend %size-medium;
}

%small {
  @extend %paragraph;
  @extend %size-small;
}


// ==== Typography ==========================
// Classes
// ==========================================

.h1 {
  @extend %h1;

  &:first-child {
    margin-top: 0;
  }
}

.h2 {
  @extend %h2;
}

.h3 {
  @extend %h3;
}

.h4 {
  @extend %h4;
}

.p {
  @extend %p;
}

.large {
  @extend %large;
}

.medium {
  @extend %medium;
}

.small {
  @extend %small;
}


// ==== Typography ==========================
// Extras
// ==========================================

.type {

  &--sc {
    display: inline;
    font-variant: small-caps;
    text-transform: lowercase;
    font-size: 1em;
  }

  &--nb {
    white-space: nowrap;
  }
}

abbr {
  border: 0;
  text-decoration: none;
}


// ==== Typography ==========================
// Lists
// ==========================================

ul {
  list-style: none;
}
