@charset 'UTF-8';

// ==== Framework ========================================================
// Webfonts
// =======================================================================

@import url("//hello.myfonts.net/count/3a5752");


// ==== Webfonts ============================
// Grad
// ==========================================

@font-face {
  font-family: 'grad';
  font-weight: 600;
  src: url('/assets/fonts/grad/3A5752_0_0.woff2') format('woff2');
}

@font-face {
  font-family: 'grad';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/fonts/grad/3A5752_4_0.woff2') format('woff2');
}

@font-face {
  font-family: 'grad';
  font-weight: 400;
  src: url('/assets/fonts/grad/3A5752_3_0.woff2') format('woff2');
}
