---js
{
  layout: "layouts/base.njk",
  sitemap_priority: 0.5,
  hero_header: "The journal",
  meta_label1: "Posted on",
  meta_data1: function(post) {
    return new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: 'numeric' }).format(post.date);
  },
  meta_label2: "Read other entries",
  meta_data2: "robsterlini.co.uk/journal/",
  nav: "journal",
  custom_css: "pages/post.scss"
}
---

{% from "components/hero.html" import hero %}

<link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500&display=swap" rel="stylesheet">

{% set children = "" %}
{% set children %}
  <p class="post-description"><strong>{{ page.date | formatDate }}</strong>{% if description %} {{ description | safe }}{% endif %}</p>
  {% if page.date | isOldDate %}
    <p class="post-alert alert" role="alert"><strong class="lead">Be warned!</strong> This was originally published a long time ago; it might be quite out of date by&nbsp;now.</p>
  {% endif %}
{% endset %}
{% set header %}<a href="/journal/">The journal</a>{% endset %}
{{ hero(title, header=header | safe, children=children | safe) }}

{% set isOldPost %}{{ page.date | isOldDate }}{% endset %}

<main class="main">
  {% if entry.link.domain %}
  <article class="group">
    <p>
      <span class="lead">Originally posted</span><br>
      <span class="list__item">
        <a {{ entry.link.htmlAttrs | safe }}>{{ entry.link.domain }}</a>
      </span>
    </p>
  </article>
  {% else %}
  <article class="group post-article">
    {{ content | safe }}
  </article>

  <div class="post-pagination group">
    {% set previousEntry = collections.internalEntries | reverse | getPreviousCollectionItem(page) %}
    {% set nextEntry = collections.internalEntries | reverse | getNextCollectionItem(page) %}

    <h2 class="h2">What now?</h2>

    {% set twitterShareText %}{{ title }} by – @robsterlini{% endset %}
    {% set githubEntryUrl %}{{ global.github.branchUrl }}{{ page.inputPath.slice(1) }}{% endset %}

    <div class="post-pagination__page">
      <h3 class="p lead">Thank you!</h3>
      <p>Firstly, thanks for taking the time to read this&nbsp;entry.</p>
      <p>If you enjoyed this post, and think others would benefit from reading it then feel free to <a href="http://twitter.com/share?text={{ twitterShareText | urlencode }}&url={{ page.url | url | absoluteUrl(global.url) | urlencode }}" target="_blank" rel="noopener" title="Share this entry on Twitter">share it on Twitter</a> (or elsewhere). I’m always up for a discussion about anything I’ve written too, so <a href="/#contact">get in touch</a> if you want to&nbsp;chat!</p>
      <p>If you’ve spotted something out of place or something needs correcting, feel free to open a <abbr title="Pull request" class="sc">PR</abbr> for <a href="{{ githubEntryUrl }}" target="_blank" rel="noopener">this entry</a>, <a href="https://github.com/robsterlini/robsterlini-frontend/issues/new/choose" target="_blank" rel="noopener">raise an issue</a>, or <a href="/#contact">let me know</a>.</p>
    </div>

    {% for paginatedKey, paginatedEntry in { next: nextEntry, prev: previousEntry } %}
      <div class="post-pagination__page{% if not paginatedEntry %} post-pagination__page--current{% endif %}">
        {% if paginatedEntry %}
          {% set paginatedLead = "Later entry" if paginatedKey == "next" else "Earlier entry" %}
          {% set entry = paginatedEntry %}
        {% else %}
          {% set paginatedLead = "Latest entry" if paginatedKey == "next" else "First entry" %}
          {% set entry = collections.internalEntries | getCollectionItem(page) %}
        {% endif %}
        {% journalEntry entry, "h3", paginatedLead %}
      </div>
    {% endfor %}
  </div>
  {% endif %}
</main>
