@import 'scss/mixins';

.hero {

  .group {
    box-sizing: border-box;
    position: relative;
  }

  .h1 {
    margin-bottom: 0;

    @include min-max-width($breakpoint-small, $breakpoint-mid) {
      max-width: 8em;
    }
  }

  .h1,
  &__header {

    @include min-width($breakpoint-small) {
      padding-right: 100% / $columns-count * 5;
    }
  }

  &__children {
    display: block;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 2;
    margin: 0;
    position: relative;

    @include min-width($breakpoint-small) {
      position: absolute;
      margin-top: calc(var(--spacing) * -2);
      width: 100% / $columns-count * 4;
    }

    .figure-wrapper {
      margin-top: var(--spacing); // Equal to hero bottom padding
      margin-bottom: calc(var(--spacing) * -3); // Triple hero bottom padding
      max-width: 16rem !important;
      width: 100%;
      margin-left: 0;

      @include min-width($breakpoint-small) {
        max-width: none !important;
        margin-top: 0;
      }
    }

    @include min-width($breakpoint-small) {
      .figure {
        display: block;

        &__image {

          > img {
            width: 100%;
          }
        }
      }
    }
  }
}

.about {

  &__section {

    &--dev {
      padding-top: var(--spacing);

      @include min-width($breakpoint-small) {
        padding-top: 0;
      }

      @include min-width(1140) { // The point at which the image would overlap the text
        padding-right: 100% / 10 * 4;
      }
    }
  }
}
