@import 'scss/mixins';

.hero {

  .h1 {
    max-width: 14em;
  }
}

.item {
  clear: both;

  .h2 {

    @include max-width(480) {
      margin-top: 0;
    }
  }

  &:first-child {

    .h2 {

      @include min-width(480) {
        margin-top: 0;
      }
    }
  }

  .figure {
    margin-top: 4rem;

    @include min-width(480) {
      margin-top: 2rem;
    }
  }
}
