@import 'scss/mixins';

.hero {

  .h1 {
    max-width: 14em;
  }
}

.year {
  clear: both;

  .h2 {

    @include max-width($breakpoint-small) {
      margin-top: 0;
    }
  }

  .figure-wrapper {
    margin-top: 4rem;
    margin-bottom: var(--spacing);
  }

  &:first-child {

    .figure-wrapper {
      margin-top: 0;
    }
  }

  @include min-width($breakpoint-small) {

    .figure-wrapper {
      margin-top: 2rem;
    }

    &:first-child {

      .h2 {
        margin-top: 0;
      }
    }
  }
}
