@import 'scss/mixins';

.cv {

  .group {
    display: grid;
    grid-gap: 0 $grid-column-gap;

    @include min-width(1024) {
      grid-template-columns: 5fr 8fr;
      grid-template-rows: auto auto 1fr;
    }
  }
}

.cv-section {

  @at-root {

    [class^='cv-section--'] {

      > :last-child {
        margin-bottom: 0;
      }
    }
  }

  &--elevator {

    > :first-child {
      margin-top: 0;
    }
  }

  @include min-width(1024) {

    &--elevator {
      grid-column: 1;

      > :last-child > :last-child {
        margin-bottom: 0;
      }
    }

    &--skills {
      grid-row: 2;
    }

    &--employment {
      grid-row: 1 / span 3;
      grid-column: 2;

      > :first-child {
        margin-top: 0;
      }
    }
  }
}

.cv-references {
  color: var(--c-bC-50);
  font-weight: 500;
  margin-top: 2em;
  margin-bottom: 0;
  font-size: 0.9375rem;
}

dd {
  font-weight: 500;

  &::after {
    content: ': ';
  }
}

dd,
dt {
  display: inline;
}

@media print {

  .footer {
    display: none;
  }

  .cv-save {
    display: none;
  }
}

