@import 'scss/mixins';

.hero {

  .h1 {
    max-width: 17em;
    margin-bottom: 0.5em;
  }

  @include min-width($breakpoint-large) {
    .group {
      display: grid;
      grid-template-columns: 8fr 4fr;
    }

    &__header {
      grid-column: 1 / -1;
      grid-row: 1;
    }

    .h1 {
      margin-bottom: -0.15em;
      grid-row: 2;
      max-width: none;
    }

    &__children {
      font-size: 1rem;
      grid-auto-rows: auto;
      grid-row: 2;
      grid-column: 2;
      align-self: flex-start;
      padding-top: 1rem;
    }

    &__link {
      margin-bottom: 1em;
    }

    &__fundraising {

      [href="/fundraising"]:not(:hover):not(:focus) {
        color: var(--link-color);
        text-decoration-color: currentColor;
      }
    }
  }

  @include min-width($breakpoint-xlarge) {
    .group {
      grid-template-columns: 7fr 5fr;
    }
  }
}

.home-hero__chunk {
  @include min-width($breakpoint-small) {
    display: block;
  }
}

.home-hero-hide {

  @include max-width(480) {
    display: none;
  }
}
