@import 'scss/mixins';

.journal {

  .group {
    display: grid;
    grid-gap: $grid-row-gap $grid-column-gap;

    @include min-width(768) {
      grid-template-columns: 1fr 1fr;
    }

    @include min-width(960) {
      grid-template-columns: 3fr 2fr;
    }
  }
}

.journal-latest {

  .h2 {
    margin-top: 0.25em;
  }

  &__date {
    font-weight: 500;
  }
}

.journal-older {

  &__date {
    font-weight: 300;
    text-decoration: none;
    white-space: nowrap;
  }

  &__external {
    color: var(--c-bA);
  }
}
