@import 'scss/mixins';

.journal {

  .group {
    display: grid;
    grid-gap: $grid-row-gap $grid-column-gap;

    @include min-width(768) {
      grid-template-columns: 1fr 1fr;
    }

    @include min-width(960) {
      grid-template-columns: 2fr 1fr;
    }
  }
}

.journal-latest {

  .h2 {
    margin-top: 0;
  }
}
