@import 'scss/mixins';

.main {

  .group {

    @include min-width($breakpoint-mid) {
      display: grid;
      grid-gap: 0 (100% / 12);
      grid-template-columns: 6fr 5fr;
    }
  }
}

.journal-latest {

  h2 {
    margin-top: 0;
  }
}

.journal-older {

  @include max-width($breakpoint-mid) {
    margin-top: var(--spacing);
  }
}
