@import 'scss/mixins';

.year {

  @include min-width($temp-mid) {

    &__seasons {
      display: grid;
      grid-template-columns: 5fr 5fr;
      grid-gap: 0 (100% / 11);
      width: (100% / 12 * 11);
    }

    &__title {
      margin-bottom: 0;
    }
  }

  @include min-max-width($temp-mid, $temp-large) {

    &:first-child {

      .year__title {
        margin-top: 0;
      }
    }
  }

  @include min-width($temp-large) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    + .year {
      margin-top: var(--spacing);
    }

    &__title {
      grid-column: span 3;
      margin-top: 0;
    }

    &__seasons {
      grid-column: 5 / span 9;
      grid-gap: 0;
      width: 100%;
    }

    &__season {
      padding-right: 1em;
    }
  }
}
