@import 'scss/mixins';
@import 'scss/type';

.post-description {
  margin-bottom: 2em;
  margin-top: -0.5em;
  font-size: 1.125rem;
  animation: opacity 500ms 250ms ease-out both;
}

.post-alert {
  animation: opacity 500ms 500ms ease-out both;
}

.post-article {
  max-width: 60rem;

  &__anchor {
    text-decoration: none;
    color: var(--c-bC-33, currentColor);
    transition-property: opacity, color;
    font-weight: inherit;
    font-family: 'rsa-body', sans-serif;
    font-weight: 500;
    font-size: 0.85em;
    line-height: 1;
  }

  > :first-child {
    margin-top: 0;
  }

  > p:first-child {
    @extend %lead;

    a {
      @extend %lead-a;
    }
  }

  abbr {
    text-decoration: underline dotted;
    text-underline-position: under;
    text-decoration-color: var(--c-bC-33);
  }

  a {

    abbr {
      text-decoration: none; // Prevents a strange double line from being rendered
    }
  }

  .figure {
    counter-increment: section;
    clear: both;

    &--inset {
      margin-left: auto;
      margin-right: auto;
      max-width: 90%;

      @include min-width(384) {
        float: right;
        max-width: 47.5%;
        margin-top: 0;
        margin-left: 5%;
        margin-right: 0;
      }
    }

    &--full {
      max-width: 100%;
    }

    &__caption {

      &::before {
        @extend %lead;

        content: 'Fig. ' counter(section) " ";
        margin-right: 0.1em;
      }
    }
  }
}
