@import 'scss/mixins';
@import 'scss/type';

.post-alert {
  animation: opacity 500ms 500ms ease-out both;
}

.post-article {

  > :first-child {
    margin-top: 0;
  }

  > p:first-child,
  > hr + p {
    @include lead;

    margin-bottom: 0.5em;
  }

  p {
    margin-bottom: 1em;
  }

  abbr {
    text-decoration: underline dotted;
    text-underline-position: under;
    text-decoration-color: var(--c-bS);
  }

  .figure {
    counter-increment: section;

    &__caption {

      > span {

        &::before {
          @include lead(false);

          content: 'Fig. ' counter(section) " ";
          margin-right: 0.1em;
        }
      }
    }
  }
}

.post-pagination {
  display: grid;
  grid-gap: 0 $grid-column-gap;

  &__hr {
    color: var(--c-bD);
    grid-column: 1 / -1;
    margin: 4rem auto 5rem;
    height: 1.875rem; // 30px
    width: 1.375rem; // 22px

    @include min-width(768) {
      margin: 5rem auto 6rem;
    }

    path {
      fill: currentColor;
    }
  }

  &__title {
    grid-column: 1 / -1;
    margin-top: 0;
  }

  &__page {

    &--current {
      color: var(--c-bS);

      a {
        text-decoration-color: currentColor;
      }
    }
  }

  @include min-width(1024) {
    grid-template-columns: 5fr 3fr 3fr;

    &__page {
      margin-bottom: 0;

      .h3 {
        margin-top: 0;
      }
    }
  }
}
