@import 'scss/mixins';

.project {
  margin-top: calc(var(--spacing) / 2);

  @include min-width($temp-large) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-columns: repeat($temp-cols, 1fr);
    grid-template-rows: auto auto 1fr;
  }

  &__logo {
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
    min-height: 4rem;

    svg {
      width: auto;
      height: 1.5rem;
      height: var(--logo-height, 1.5rem);
      max-width: 100%;
    }

    path {
      fill: var(--c-bS);
    }
  }

  &__client {
    font-weight: $font-weight-body-bold;

    &:not(:last-child) {

      &::after {
        content: ', ';
      }
    }
  }

  &__details {
    grid-column: 1 / span 3;
  }

  &__description {
    grid-column: 5 / -1;
    grid-row: 2 / span 2;

    > :first-child {
      margin-top: 0.25em; // Aligns the text with the title on the left
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  &__links {
    margin-top: 1rem;
    grid-column: 1 / span 3;
  }

  // Variants
  &--tony-robbins {
    --logo-height: 1.25rem;
  }

  &--fueled {
    --logo-height: 2.5rem;
  }

  &--apple {
    --logo-height: 3.25rem;
  }
}
