@import 'scss/mixins';

.project {
  margin-top: var(--spacing);

  @include min-width($breakpoint-large) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-columns: repeat($columns-count, 1fr);
    grid-template-rows: auto auto 1fr;
  }

  &__date {
    color: var(--c-bS);
  }

  &__details {
    grid-column: 1 / span 3;
  }

  &__description {
    grid-column: 5 / -1;
    grid-row: 1 / span 3;

    > :first-child {
      margin-top: 0.25em; // Aligns the text with the title on the left
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  &__links {
    margin-top: 1rem;
    grid-column: 1 / span 3;

    @include min-width($breakpoint-large) {
      margin-top: 0;
    }
  }
}
