@charset 'UTF-8';

// ==== Modules ==========================================================
// Button
// =======================================================================


// ==== Button ==============================
// Variables
// ==========================================

$btn-icon-spacing: rem(12);


// ==== Button ==============================
// Base
// ==========================================

.btn {
  appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  font-weight: 600; // TODO: Var
  letter-spacing: 0.02em;
  line-height: unit(icon-width);
  margin: 2em unit(base-gutter) 0.5em 0;
  outline: 0;
  position: relative;
  text-decoration: none;
  // sass-lint:disable indentation
  transition:
    color $timing-button $easing,
    transform $timing-button $easing;
  // sass-lint:enable indentation
  user-select: none;
  vertical-align: top;

  &__bg {
    @include cover;

    border: unit(button-border-width) solid;
    content: '';
    transform: scale(1) translate3d(0, 0, 0);
    transition:
      $timing-button $easing; // sass-lint:disable-line indentation
    transition-property: background-color, transform;
    will-change: background;
  }

  &__inner {
    display: flex;
    min-height: unit(button-height-m);
    padding: 0 unit(button-inner-padding-m);
    transition:
      opacity $timing-button $timing-button $easing; // sass-lint:disable-line indentation

    .btn--loading &,
    .btn--success & {
      opacity: 0;
      transition-delay: 0ms;
    }
  }

  &__content {
    margin: auto;
    position: relative;
    transition:
      transform $timing-button $easing; // sass-lint:disable-line indentation
  }

  &__label {
    display: block;
    font: inherit;
    line-height: unit(icon-width);
    position: relative;
    z-index: 2;
  }

  &__success,
  &__spinner {
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
  }

  &__success {
    margin: unit(icon-width) / -2 0 0 unit(icon-width) / -2;
    transition:
      opacity $timing-button $easing; // sass-lint:disable-line indentation

    .btn--success & {
      opacity: 1;
      transition-delay: $timing-button * 1.5;
    }
  }

  &__spinner {
    margin: unit(icon-width) / -2 0 0 unit(icon-width) / -2;
    transition-duration: $timing-button;
    width: unit(icon-width);

    .btn--loading & {
      opacity: 1;
      transition-delay: $timing-button;
    }
  }
}


// ==== Button ==========================
// Interaction
// ==========================================

.btn {

  &.btn--hover {

    .btn__bg {
      transform: scale(0.98, 0.97) translate3d(0, 0, 0);
    }
  }

  &.btn--active {
    transform: translate3d(0, rem(2), 0);
  }
}


// ==== Button ==========================
// Colors
// ==========================================

.btn {

  // Primary
  &--primary {
    color: module-color(button-primary-color);

    .btn__bg {
      background-color: module-color(button-primary-bg);
      border-color: module-color(button-primary-border);
    }

    &.btn--hover {

      .btn__bg {
        background-color: module-color(button-primary-bg-hover);
      }
    }
  }

  // Secondary
  &--secondary {
    color: module-color(button-secondary-color);

    .btn__bg {
      background-color: module-color(button-secondary-bg);
      border-color: module-color(button-secondary-border);
    }

    &.btn--hover {

      .btn__bg {
        background-color: module-color(button-secondary-bg-hover);
      }
    }
  }

  // Tertiary
  &--tertiary {
    color: module-color(button-tertiary-color);

    .btn__bg {
      background-color: module-color(button-tertiary-bg);
      border-color: module-color(button-tertiary-border);
    }

    &.btn--hover {

      .btn__bg {
        background-color: module-color(button-tertiary-bg-hover);
      }
    }
  }
}


// ==== Button ==========================
// Sizes
// ==========================================

.btn {

  &--l {
    @include font-sizes($button-primary-font-size-s, $button-primary-font-size-l);

    .btn__inner {
      min-height: unit(button-height-l);
      padding: 0 unit(button-inner-padding-l);
    }
  }

  &--m {
    @include font-sizes($button-secondary-font-size-s, $button-secondary-font-size-l);

    .btn__inner {
      min-height: unit(button-height-m);
      padding: 0 unit(button-inner-padding-m);
    }
  }

  &--s {
    @include font-sizes($button-tertiary-font-size-s, $button-tertiary-font-size-l);

    .btn__inner {
      min-height: unit(button-height-s);
      padding: 0 unit(button-inner-padding-s);
    }
  }
}


// ==== Button ==========================
// Variants
// ==========================================

.btn {

  &--icon {

    .btn__icon {
      fill: currentColor;
      margin-top: unit(icon-width) / -2;
      position: absolute;
      top: 50%;
    }
  }

  &--positive {

    .btn__icon {
      right: 0;
    }

    .btn__content {
      margin-right: unit(button-icon-margin) / -4;
      padding-right: unit(icon-width) + unit(button-icon-margin);
    }
  }

  &--negative {

    .btn__icon {
      left: 0;
    }

    .btn__content {
      margin-left: unit(button-icon-margin) / -4;
      padding-left: unit(icon-width) + unit(button-icon-margin);
    }
  }
}

// ==== Button ==========================
// States
// ==========================================

.btn {

  &:disabled {
    cursor: default;
    pointer-events: none;
  }

  &--success {

    .btn__bg {
      background-color: module-color(button-success-bg);
      border-color: module-color(button-success-border);
    }
  }

  &--disabled {
    background: module-color(button-disabled-bg);

    .btn__bg,
    .btn__label,
    .btn__icon {
      opacity: 0.5;
    }
  }

  &--hidden {
    @include visuallyhidden;
  }
}
