@charset 'UTF-8';

// // ==== Modules ==========================================================
// // Form
// // =======================================================================


// ==== Form ================================
// Variables
// ==========================================

$form-input-padding: unit(base-gutter) / 2;
$form-input-font-size: em(16);
$form-input-height: rem(48);
$form-lead-icon-width: $form-input-height;
$form-item-spacing: rem(10);
$form-input-offset: rem(2);

$card-input-height: $form-input-height / 2.8;

// ==== Form ================================
// Base
// ==========================================

.form {
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: rem(420); // TODO: Var
  width: 100%;
}


// ==== Form ================================
// Fieldset
// ==========================================

.form {

  &__fieldset {
    margin: $form-item-spacing auto;
    width: 100%;
  }
}


// ==== Form ================================
// Label
// ==========================================

.form {

  &__label-wrapper {
    display: flex;
    font-size: $form-input-font-size;
    font-weight: font-weight(medium);
    margin-bottom: $form-item-spacing;

    &--hidden {
      margin-bottom: 0;
      margin-top: $form-item-spacing / -2;
    }
  }

  &__label {
    margin: 0;
    padding-right: 0.33em;
  }

  &__helper {
    color: color(text-light);
    flex: 1;
  }
}

// ==== Form ================================
// Errors
// ==========================================

.form {

  &__errors {
    color: module-color(form-field-border-error);
    display: inline;
    flex: 1;

    .errors__item {
      display: none;

      &:first-child {
        display: inline;
      }
    }
  }
}

// ==== Form ================================
// Field
// ==========================================

.form {

  &__field {
    background: module-color(form-field-bg); // TODO: Var
    display: flex;
    font-family: $font-family-body;
    font-size: $form-input-font-size;
    overflow: hidden;
    position: relative;
  }

  &__icon {
    align-items: center;
    display: flex;
    height: $form-input-height - rem(2);
    justify-content: center;
    margin-right: -$form-input-padding;
    pointer-events: none;
    position: relative;
    width: $form-input-height;
    z-index: 2;
  }

  &__field-bg {
    @include cover;

    border: solid rem(1) module-color(form-field-border);
    pointer-events: none;
    transition: border $timing $easing;
    z-index: 2;

    &--is-focus {
      border-color: module-color(form-field-border-focus);
    }

    &--has-errors {
      border-color: module-color(form-field-border-error);
    }
  }

  &__input {
    background: transparent;
    border: 0;
    display: block;
    font: inherit;
    margin: rem(1);
    min-height: $form-input-height - rem(2);
    outline: 0;
    padding: 0 $form-input-padding $form-input-offset;
    position: relative;
    width: 100%;

    &:-webkit-autofill { // sass-lint:disable-line no-vendor-prefixes
      // sass-lint:disable indentation
      box-shadow:
        module-color(form-field-autofill-bg) -200px 0 0,
        inset module-color(form-field-autofill-bg) 0 $form-input-height * -1 0 0;
      // sass-lint:enable indentation
    }

    &--textarea {
      padding-bottom: calc(#{$form-input-padding} + #{$form-input-offset});
      padding-top: $form-input-padding;
      resize: none;
    }

    &--card {
      padding-top: $card-input-height;
    }

    &--icon {
      padding-left: calc(#{$form-lead-icon-width} + #{unit(base-gutter) / 2});
    }
  }

  &__prefix {
    color: color(text-light);
    margin: auto 0;
    padding-bottom: $form-input-offset;
    padding-left: $form-input-padding;
    position: relative;
    user-select: none;
    z-index: 1;

    & + .form__input {
      padding-left: $form-input-padding / 2;
    }
  }
}

// ==== Form ================================
// File
// ==========================================

.form__field--file {
  cursor: pointer;

  .form__field-bg {
    display: none;
  }

  .btn {
    flex-shrink: 0;
    margin: auto 0;
    white-space: nowrap;
  }
}

.form__input {

  &--faux {
    line-height: calc(#{$form-input-height} - #{$form-input-offset});
  }

  &--file-faux {
    border: solid rem(1) module-color(form-field-border);
    line-height: calc(#{$form-input-height} - #{rem(1 * 2)} - #{$form-input-offset});
    margin-left: unit(base-gutter) / 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--file {
    @include cover;

    cursor: pointer;
    opacity: 0;
    z-index: 3;

    &.form__input--readonly {
      display: none;
    }
  }
}

// ==== Form ================================
// Preview
// ==========================================

.form-preview {
  margin-bottom: rem(-8);
  overflow: auto;
  white-space: nowrap;

  &__item {
    display: inline-block;
    height: rem(144);
    margin: rem(8) rem(16) rem(16) 0;
    position: relative;
    vertical-align: top;
    width: rem(144);

    &:last-child {
      margin-right: 0;
    }
  }

  &__image {
    @include cover;

    background: center no-repeat;
    background-size: cover;
  }

  &__remove {
    background: color(darkest);
    cursor: pointer;
    height: rem(32);
    position: absolute;
    right: rem(8);
    top: rem(8);
    width: rem(32);

    .icon {
      height: rem(12);
      left: 50%;
      margin: rem(12 / -2) 0 0 rem(12 / -2);
      position: absolute;
      top: 50%;
      width: rem(12);
    }
  }
}
