@charset 'UTF-8';

// ==== Modules ==========================================================
// Hero
// =======================================================================


// ==== Hero ================================
// Base
// ==========================================

.hero {
  background: none;
  position: relative;
  z-index: 4;

  &__header {
    left: 0;
    margin: 0;
    position: absolute;
    top: rem(50);
    width: 100%;

    .h--pre {
      margin: 0;
    }
  }

  &__content {
    opacity: 0;
    transition:
      opacity $timing-hero / 2 $timing-hero $easing; // sass-lint:disable-line indentation

    .page--is-loaded & {
      opacity: 1;
    }
  }

  > .group {
    content: '';
    padding-bottom: calc(#{$header-height * 1.5} + 5vw); // TODO: Var 5vw
    padding-top: calc(#{$header-height * 1.5} + 5vw); // TODO: Var 5vw
  }

  .h1 {

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    > span,
    > svg {
      display: block;
      margin: 0;
      opacity: 0;
      transform: translateY(0.25em);
      transition:
        opacity $timing-hero / 2 $easing, // sass-lint:disable-line indentation
        transform $timing-hero $easing-hero; // sass-lint:disable-line indentation

      .page--is-loaded & {
        opacity: 1;
        transform: none;
      }

      &:nth-of-type(2) {
        transition-delay: $timing-hero / 4;
      }
    }
  }
}


// ==== Hero ================================
// Variants
// ==========================================

.hero--half {
  min-height: 50vh;
}
