@charset 'UTF-8';

// ==== Modules ==========================================================
// Icon
// =======================================================================


// ==== Icon ============================
// Classes
// ==========================================

.icon {
  display: inline-block;
  fill: currentColor;
  height: $icon-size;
  position: relative;
  vertical-align: middle;
  width: $icon-size;

  > svg {
    @include cover;

    height: 100%;
    width: 100%;
  }
}


// ==== Icon ============================
// Pip
// ==========================================

$pip-spacing: rem(20);
$pip-size: rem(10);

.pip {
  border: rem(2) solid currentColor;
  display: block;
  height: $pip-size;
  margin: $pip-spacing;
  opacity: 0.5;
  position: relative;
  transform: rotate(45deg);
  transition:
    border $timing / 2 $easing, // sass-lint:disable-line indentation
    opacity $timing / 2 $easing; // sass-lint:disable-line indentation
  width: $pip-size;

  &::before {
    bottom: $pip-spacing * -0.5;
    content: '';
    left: $pip-spacing * -0.5;
    position: absolute;
    right: $pip-spacing * -0.5;
    top: $pip-spacing * -0.5;
    transform: rotate(45deg);
  }

  &:hover,
  &:active {
    opacity: 1;
  }

  &--active {
    border-width: $pip-size / 2;
    opacity: 1;
  }
}
