@charset 'UTF-8';

// ==== Modules ==========================================================
// Logo
// =======================================================================


// ==== Logo ================================
// Base
// ==========================================

.logo {
  display: block;
  max-width: 100%;
  width: rem(56); // TODO: Var

  &__inner {
    display: block;
    position: relative;
  }
}
