@charset 'UTF-8';

// ==== Modules ==========================================================
// Logo
// =======================================================================


// ==== Logo ================================
// Base
// ==========================================

.logo {
  @include font-sizes(18, 22);

  background: module-color(header-bg);
  color: color(white);
  font-weight: 600; // TODO: Var
  display: table;
  margin: 1em 0;
  padding: 0 unit() calc(0.075em + #{rem(2)});
  transition:
    color $timing $easing;
  white-space: nowrap;

  &--link {

    .h3 {
      font-weight: inherit;
      font-size: inherit;
    }

    &:hover {
      color: color(accent);
      opacity: 1;
    }
  }
}
