@charset 'UTF-8';

// ==== Modules ==========================================================
// Logo
// =======================================================================


// ==== Logo ================================
// Base
// ==========================================

.logo {
  display: block;
  max-width: 100%;
  width: unit(logo-width);

  &__inner {
    display: block;
    padding-top: $logo-height / $logo-width * 100%;
    position: relative;
  }

  &__image {
    @include cover;

    height: 100%;
    width: 100%;

    path {
      fill: currentColor;
    }
  }
}
