@charset 'UTF-8';

// ==== Modules ==========================================================
// Spinner
// =======================================================================


// ==== Spinner =============================
// Base
// ==========================================

.spinner {
  display: block;
  margin: unit(base-gutter) auto;
  max-width: rem(50);
  opacity: 0;
  position: relative;
  transform: scale(0.75);
  // sass-lint:disable indentation
  transition:
    opacity $timing $easing,
    transform $timing $easing;
  // sass-lint:enable indentation
  width: 100%;

  &--active {
    opacity: 1;
    transform: none;
  }

  &__svg {
    @include cover;

    animation: spinner 500ms infinite linear;
    content: '';
    height: 100%;
    width: 100%;

    g {
      fill: currentColor;
    }
  }

  &::after {
    content: '';
    display: block;
    padding-top: 100%;
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(180deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
