---
title: Page not found
layout: default
permalink: 404.html
---

{% from "components/hero.html" import hero %}

{% set css %}{% include "pages/404.scss" %}{% endset %}
<style>{{ css | scss | safe }}</style>

{% set children %}
  <p>This page doesn’t exist any more, or it may never have existed.</p>
  <ul class="list"><li><a href="/">Back to the homepage</a></li></ul>
{% endset %}
{{ hero('You lost?' | safe, header='404 – Page not found', children=children | safe) }}

<main class="error" aria-hidden="true">
</main>

