---
metaTitle: Page gone
metaDescription: 410 – This page got deleted somewhere along the way, it’s a gonner!
layout: default
sitemapPriority: 0
heroHeader: 410
---

{% from "components/hero.html" import hero %}

{% set children %}
  <p>This page got deleted somewhere along the way, it’s a&nbsp;gonner!</p>
  <p class="btn"><a href="/">Back to the homepage</a></p>
{% endset %}
{{ hero('Good bye!', header='410 – Page gone', children=children | safe, centre=true) }}
