---
permalink: /_redirects
eleventyExcludeFromCollections: true
---
# ------- #
# NETLIFY #
# ------- #

https://robsterlini-frontend.netlify.com/* https://robsterlini.co.uk/:splat 301!


# -------------- #
# MAIN REDIRECTS #
# -------------- #

# 301

{%- for oldPath, newPath in redirects['301'] %}
{{ oldPath }}   {{ newPath }}   301
{%- endfor %}

# 410

{%- for oldPath in redirects['410'] %}
{{ oldPath }}   /410   410
{%- endfor %}


# ----------------- #
# JOURNAL REDIRECTS #
# ----------------- #

# 301

{%- for oldPath, newPath in redirects.journal['301'] %}
/journal{{ oldPath }}   /journal{{ newPath }}   301
{%- endfor %}

{%- for entry in collections.entries %}
  {%- if entry.data.external_url %}
{{ entry.url | url }} {{ entry.data.external_url }} 301
  {%- endif %}
{%- endfor %}

# 410

{%- for oldPath in redirects.journal['410'] %}
/journal{{ oldPath }}   /410   410
{%- endfor %}
