---
metaTitle: About
heroTitle: More than just a developer.
heroHeader: Life away from the screen
layout: default
sitemap_priority: 0.8
nav: about
customCss: pages/about.scss
---

{% from "components/hero.html" import hero %}

{% set children %}{% figureInset
  "journal/instagram-is-a-highlight-reel/striding-edge.jpg",
  "500x667",
  "A selfie at the end of Striding Edge in the Lake District",
  ""
%}{% endset %}

{{ hero(heroTitle, header=heroHeader, children=children | safe) }}

<main class="main">
  <div class="group group--thin links--external">
    <div class="about__section--dev">
      <h2 class="h2 mt0 about__pad-image"><span class="lead">I’m not just a…</span> <span class="ttu">f</span>rontend developer</h2>
      <p>What I do doesn’t define who I am! Sure, by day I’m a frontend developer, but there are more strings to my&nbspbow. If that’s what you’re here for, you can <a href="/work">read about my work</a> to find out&nbsp;more.</p>
    </div>

    <h2 class="h2"><span class="lead">I value being…</span> <span class="ttu">a</span>way from the keyboard</h2>

    <h3 class="h3" id="triathlon">An amateur triathlete{% anchor 'triathlon' %}</h3>

    {% figureInset
      "about/weymouth.jpg",
      "819x1024",
      "Crossing the finish line of Ironman 70.3 Weymouth"
    %}

    <p>For me there are fewer better ways to spend an afternoon than striking out on a long bike ride. It’s a way to keep healthy – physically and mentally, experience new places, and to push myself.</p>
    <p>I discovered how much I love cycling when I moved back to London in 2014 and set about getting healthier by way of completing my first triathlon; and in 2015 <a href="/journal/2015/triathlete/">I did just that</a>.</p>
    <p>Since then I’ve participated in over a dozen events ranging from sprint and olympic to <a href="https://www.instagram.com/p/BZJncXEAQgv/">half Ironman (<abbr title="Ironman" class="sc">IM</abbr> 70.3)</a> distances, and was in the <a href="https://www.instagram.com/p/B9MM5btniPg/" target="_blank" rel="noopener">early stages of conditioning</a> for the 2020 full-distance Ironman UK when <span class="sc">Covid</span>&#8209;19 flipped life upside down somewhat. You can follow my training for the 2021 event on <a href="{{ global.social.strava }}" target="_blank" rel="noopener">on&nbsp;Strava</a>.</p>
    <p>Triathlon is a wonderful sport, but can seem a little daunting from the outside, so if you’re curious and fancy a go I'm happy to help break down any misconceptions or worries you might have – <a href="/#contact">give me a shout</a> if you&nbsp;do!</p>

    <h3 class="h3">An adventurer</h3>

    <p>In the winter I swap the wheels for <a href="https://www.instagram.com/p/B817xBVnd_-/" target="_blank" rel="noopener">skis</a> and head for the mountains for powder by day, and cheese and wine by night! There’s a similar enjoyment to cycling – exploring expansive resorts, honing my technique, and hanging out (eating cheese) with <a href="https://www.instagram.com/p/BA2OLpkP-y7/" target="_blank" rel="noopener">friends</a> and&nbsp;<a href="https://www.instagram.com/p/B84WwZpnMXI/" target="_blank" rel="noopener">family</a>.</p>
    <p>Even though I’m a London city-boy at heart, I’ve always enjoyed hiking, camping and the great outdoors, and we’re spoilt with places to enjoy those in the&nbsp;UK.</p>
    <p>In early 2019, I <a href="https://www.instagram.com/p/BwP6YTDg5NB/" target="_blank" rel="noopener">qualified</a> as a PADI open water diver, and have since put that into practice in <a href="https://www.instagram.com/p/B7_0MLWn_ii/" target="_blank" rel="noopener">Costa Rica</a> – I can safely say that <a href="https://www.instagram.com/p/B8CZ4zBnlPU/" target="_blank" rel="noopener">spotting 15 foot manta rays</a> is one of the highlights of the time I’ve had on this earth thus&nbsp;far!</p>

    {% figureOverlap
      ["about/ski.jpg", "about/scuba.jpg", "about/hiking.jpg"],
      ["650x734", "650x734", "650x734"],
      ["", "", ""],
      "Pretty outdoors-y for a city boy!"
    %}

    <h2 class="h2"><span class="lead">Deep down, I’m a…</span> <span class="ttu">C</span>reator</h3>

    <h3 class="h3" id="typography">A typography enthusiast{% anchor 'typography' %}</h3>

    <p>Hopefully the typographic details of this site go some way toward showing my passion for&nbsp;letterforms.</p>
    <p>Having studied at the world renowned Typography and Graphic Communication Department at University of Reading, I picked up a passion for kerning, ligatures, and all things type. Design isn’t something that makes up much hands-on time from my day-to-day, but I’m a strong believer in solid typographic practices being the cornerstone to cohesive digital experiences. After all, the web is mostly just&nbsp;words!</p>
    <p>It’s a designer cliché, but we all love ampersands, and are you really a designer without an ampersand tattoo (<a href="https://www.instagram.com/p/5KoDPoP-zp/" target="_blank" rel="noopener">or three</a>)?</p>

    <h3 class="h3" id="master-builder">A <span class="sc">LEGO</span> Master&nbsp;Builder{% anchor 'master-builder' %}</h3>

    <p>Alright, the title Master Builder is self-appointed, but as someone who has flexed their creativity through 4&times;2 bricks as far back as my memory serves me, I think it’s&nbsp;fair.</p>
    <p>The crown jewel of my display creation is the <a href="https://www.instagram.com/p/BdIlUsggiIe/" target="_blank" rel="noopener"><abbr title="Ultimate Collector Series" class="sc">UCS</abbr> Millenium Falcon&nbsp;75192</a> that I built over Christmas in&nbsp;2017.</p>
    <p>Away from the box of bricks, I’ve been a (very) vocal advocate for the correct pluralisation of <span class="sc">LEGO</span> (it’s <a href="https://legonotlegos.com" target="_blank" rel="noopener"><span class="sc">LEGO</span> not Legos</a>), and also have Tony Stark and Bruce Wayne minifigures with me <a href="https://www.instagram.com/p/BDTc0gYP-8b/" target="_blank" rel="noopener">wherever I&nbsp;go</a>.</p>
  </div>
</main>
