---
metaTitle: Entries from the past
metaDescription: The full archive of all journal entries through the years.
layout: default
sitemapPriority: 0.4
nav: journalPast
customCss: pages/archive.scss
permalink: journal/past/index.html
heroHeader: The journal
eleventyComputed:
  heroTitle: "{{ metaTitle }}"
---

{% from "components/hero.html" import hero %}

{% set header %}<a href="/journal">{{ heroHeader }}</a>{% endset %}
{{ hero(heroTitle, header=header | safe) }}

<main class="main">
  <div class="group group--thin">
    {% for year in collections.journalArchive %}
      <div class="archive-year">
        <h2 class="h2" id="{{ year.year }}">{{ year.year }}{% anchor year.year %}</h2>

        <ul class="list--block">
          {% for entry in year.entries %}
            <li>{% journalEntryShort entry %}</li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
</main>
