---
metaTitle: Rob Sterlini
metaTitleSuffix: Frontend developer & more
heroTitle: Frontend developer, amateur triathlete, typography enthusiast, & LEGO master builder
layout: default
sitemapPriority: 1
customCss: pages/home.scss
---

{% from "components/hero.html" import hero %}

{% set heroHeader %}<a href="/">Rob Sterlini</a> (he/him){% endset %}

{% set heroTitle %}
<span class="home-hero__chunk">Frontend dev<span class="home-hero-hide">eloper</span>, </span>
<span class="home-hero__chunk"><span class="home-hero-hide">amateur </span>triathlete, </span>
<span class="home-hero__chunk">typo<span class="home-hero-hide">graphy</span> geek, </span>
<span class="home-hero__chunk">pug dad &amp; </span>
<span class="home-hero__chunk"><span class="sc">LEGO</span> enthusiast.</span>
{% endset %}

{% set heroChildren %}
  <p class="links--external"> <span class="lead">By day</span> I’m working to reimagine home decisions at&nbsp;<strong>Zoopla</strong>. Before that, I spent nearly eight years building web experiences at <strong>Fueled</strong> for the likes of <strong>Apple</strong> and <strong>Tony&nbsp;Robbins.</strong></p>
  <p class="hero__link btn"><a href="{{ global.links.work.link }}">Find out more about my work</a></p>

  <p><span class="lead">Away from the screen</span> I run a bit, cycle a lot, and swim just enough to call myself a triathlete. You’ll find me at my happiest mid-<span class="sc">LEGO</span> build, skiing off-piste, or at White Hart Lane watching the Spurs.</p>
  <p class="hero__link btn"><a href="{{ global.links.contact.link }}">Want to chat? Get in touch</a></p>

  <p id="#now"><span class="lead"><a href="https://nownownow.com" target="_blank" rel="noopener">Now</a></span> I am gearing up for a summer of shoulder rehab after stustaining a torn rotator cuff while skiing in&nbsp;Andorra.</p>
{% endset %}

{{ hero(heroTitle | safe, header=heroHeader | safe, children=heroChildren | safe, center=true) }}

