---
metaTitle: The journal
metaDescription: Rob Sterlini’s journal entries on development, life, and everything in between.
heroTitle: Sporadic ramblings
layout: default
sitemapPriority: 0.8
nav: journal
customCss: pages/journal.scss
tag: journal
eleventyComputed:
  heroHeader: "{{ metaTitle }}"
---

{% from "components/hero.html" import hero %}

{{ hero(heroTitle, header=metaTitle) }}

<main class="main journal">
  <div class="group">
    {% for entry in collections.entries %}
      {% if loop.index == 1 %}
        <div class="journal-latest">
          {% journalEntry entry, "h2", "Latest entry" %}
        </div>

        <div class="journal-older">
          <h2 class="lead">A few older&nbsp;entries</h2>
          <ul class="list--block">
      {% endif %}

      {% if loop.index > 1 and loop.index <= 4 %}
            <li>
              {% journalEntryShort entry %}
            </li>
      {% endif %}

      {% if loop.last %}
          </ul>

          <h2 class="p"><span class="lead">Full archive</span></h2>
          <ul class="list--btns">
            <li><a href="/journal/archive">See all entries</a></li>
            <li><a href="/feed.xml">Follow the <span class="sc">RSS</span>&nbsp;feed</a></li>
          </ul>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</main>
