---
title: The journal
description: The sporadic ramblings of Rob Sterlini.
layout: default
sitemap_priority: 0.8
nav: journal
custom_css: pages/journal.scss
tag: journal
---

{% from "components/hero.html" import hero %}

{{ hero("The journal" | safe) }}

<main class="main journal">
  <div class="group">
    {% for entry in collections.entries %}
      {% if loop.index == 1 %}
        <div>
          {% journalEntry entry, "h2", "Latest entry" %}
        </div>

        <div class="journal-older">
          <h2 class="p"><span class="lead">Older entries</span></h2>
          <ul class="list">
      {% endif %}

      {% if loop.index > 1 %}
            <li>
              {% journalEntryShort entry %}
            </li>
      {% endif %}

      {% if loop.last %}
          </ul>

          <p>Follow the <a href="/feed.xml"><span class="sc">RSS</span> feed</a> for&nbsp;updates.</p>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</main>
