---
metaTitle: What I’m up to
metaDescription: A seasonal insight into what Rob is and has been up to in life and work.
heroHeader: Now and then
layout: default
sitemapPriority: 0.7
nav: now
customCss: pages/now.scss
---

{% from "components/hero.html" import hero %}

{% set children %}
<p>With the <a href="/journal/2020/a-fresh-lick-of-paint/">new site</a> I thought it would be a good time to implement a <a class="link--external" href="https://nownownow.com/about/" target="_blank">nownownow.com</a> page with a bit of insight into what I’m up to in life and&nbsp;work.</p>
{% endset %}

{{ hero(metaTitle, header=heroHeader, children=children | safe) }}

<main class="main links--external">
  <div class="group">
    {% set current = 0 %}
    {% for year, seasons in now.years %}
    <h2 class="h2{% if loop.index === 1 %} mt0{% endif %} year__title" id="{{ year }}">{{ year }}<a href="#{{ year }}" class="anchor"><span class="sr-only"> Jump to anchor</span></a></h2>
    <div class="year__seasons">
      {% for seasonName, seasonMeta in now.meta.seasons %}
        {% set season = seasons[seasonName] %}
        {% set seasonAnchor %}{{ year }}-{{ seasonName }}{% endset %}
        {% if seasonAnchor == now.meta.current %}
          {% set current = 1 %}
        {% endif %}

        {% if current < 3 %}
          <div class="year__season year__season--{{ current }} small">
            <h3 class="h3" id="{{ seasonAnchor }}">{{ seasonMeta.title }}<a href="#{{ seasonAnchor }}" class="anchor"><span class="sr-only"> Jump to anchor</span></a></h3>
            {% if current > 1 %}
              <p>Check back soon…</p>
            {% else %}
              {% if season.life %}
                <p><strong class="lead">In life I {{ 'was' if current == 0 else 'am' }}</strong> {{ season.life | safe   }}</p>
              {% endif %}
              {% if season.work %}
                <p><strong class="lead">At work I {{ 'was' if current == 0 else 'am' }}</strong> {{ season.work | safe   }}</p>
              {% endif %}
              {% if season.music %}
                <p>
                  <strong class="lead">I {{ 'was' if current == 0 else 'am' }} listening to</strong>
                  {% set musicText %}{% if season.music.title %}{{ season.music.title }}, {% endif %}{% if season.music.artist %}{{ season.music.artist }}{% endif %}{% endset %}
                  {% if season.music.link %}
                    <a href="{{ season.music.link }}" rel="noopener" target="_blank">{{ musicText | safe }}</a>.
                  {% else %}
                    {{ musicText | safe }}.
                  {% endif %}
              {% endif %}
            {% endif %}
          </div>
        {% endif %}

        {% if current == 2 %}
          {% set current = 3 %}
        {% elif seasonAnchor == now.meta.current %}
          {% set current = 2 %}
        {% endif %}
      {% endfor %}
    </div>
    {% endfor %}

    <hr />

    <p class="alert mb0"><span class="lead">This is a highlight reel!</span> Please keep in mind that this is likely to look like a series of life’s high points. As I wrote about <a href="/journal/2020/instagram-is-a-highlight-reel/">in my journal</a>, life won’t always be kind or easy; it’s important that we don’t take these at face value and assume that all is always as swell as it seems on the&nbsp;surface.</p>
  </div>
</main>
