@page {
  size: A4;
  margin: 20mm 10mm 10mm;
}

html[data-color-preference],
html body {
  width: 210mm;
  height: 297mm;
}

html body {
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem;
}

h1, h2, h3, h4, h5 {
  page-break-after: avoid;
}

ul {
  page-break-inside: avoid;
}

html[data-color-preference] {
  margin: 0;
  border: initial;
  border-radius: initial;
  width: initial;
  min-height: initial;
  box-shadow: initial;
  background: initial;
  page-break-after: always;

  --c-hB: white;

  --c-bB: white;
  --c-bC: black;
  --c-bC-50: black;
  --c-bA: black;

  font-size: 13px;
}

*, *::before, *::after {
  animation: none !important;
  transition: none !important;
}

html .group {
  /*width: 100%;*/
}

html .main {
  margin-bottom: auto;
  padding-top: 3rem;
  padding-bottom: 0;
}

html .footer .fieldset,
html .nav {
  display: none;
}

html .hero {
  flex: none;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
}

html .hero__angle {
  display: none;
}
