---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  {% set journalPageData = collections | getPageDataFromCollections('/journal/') %}
  <title>{{ journalPageData.title }}</title>
  <subtitle>{{ journalPageData.description }}</subtitle>
  <link href="{{ permalink | absoluteUrl(global.url) }}" rel="self"/>
  <link href="{{ global.url }}"/>
  <updated>{{ collections.entries | rssLastUpdatedDate }}</updated>
  <id>{{ global.url }}</id>
  <author>
    <name>{{ global.name }}</name>
    <email>{{ global.email }}</email>
  </author>
  {%- for post in collections.entries %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(global.url) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | rssDate }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">
      {%- if post.link.domain %}
        {% set originalPost %}<p>Originally posted on <a href="{{ post.link.url }}">{{ post.link.domain }}</a>.</p>{% endset %}
        {{ originalPost | escape }}
      {%- else %}
        {{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}
      {%- endif %}
    </content>
  </entry>
  {%- endfor %}
</feed>
