---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
  {% set mappedUrl %}{{ metadata.url}}{{ page.url | url }}{% endset %}
  <url>
    <loc>{{ mappedUrl }}</loc>
    <lastmod>{{ page.date | formatDate('w3c-datetime') }}</lastmod>
    <priority>{{ page.data.sitemap_priority if page.data.sitemap_priority else 0.6 }}</priority>
  </url>
{%- endfor %}
</urlset>
