---
metaTitle: Work
metaDescription: Explore my employment history and get to know what I bring to the table.
heroTitle: Contributions to the world wide web.
heroHeader: A portfolio of sorts
layout: default
nav: work
sitemapPriority: 0.8
customCss: pages/work.scss
---

{% from "components/hero.html" import hero %}

{% set heroChildren %}
  <ul class="list--btns">
    <li><a href="/cv" download>Download my <abbr class="sc" title="Curriculum Vitae">CV</abbr></a></li>
  </ul>
{% endset %}

{{ hero(heroTitle, header=heroHeader, children=heroChildren | safe) }}

<main class="main links--external">
  <div class="group">
    <h2 class="h2 mt0"><span class="lead">A few standout projects</span> The ones I tell my mum about</h2>

    {% for project in work %}
      <div class="project project--{{ project.slug }}">
        <div class="project__logo" aria-hidden="true">
          {% if project.logo %}
            {{ project.logo | safe }}
          {% endif %}
        </div>
        <div class="project__details">
          <h3 class="h3 mt0">{{ project.title or project.client }}</h3>
          <dl class="p">
            <div>
              {% if project.title %}
                <dd class="sr-only">Client</dd> <dt class="project__client">{{ project.client }}</dt>
              {% endif %}
              {% if project.date %}
                <dd class="sr-only">Date</dd> <dt class="nowrap">{{ project.date }}</dt>
              {% endif %}
            </div>

            {% if project.stack %}
              <div>
                <dd class="sr-only">Stack</dd> <dt>{{ project.stack.join(', ') | safe }}</dt>
              </div>
            {% endif %}
          </dl>
        </div>
        <div class="project__description">
          {% for paragraph in project.description %}
            <p>{{ paragraph | safe }}</p>
          {% endfor %}
        </div>
        {% if project.links %}
        <div class="project__links">
          <ul class="list--btns">
            {% for link in project.links %}
              <li><a href="{{ link.url }}" target="_blank" rel="noopener">{{ link.label or 'See it live' }}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>

  <div class="group group--thin">
    <h2 class="h2"><span class="lead">There’s more…</span> The best of the rest</h2>

    <p>Having spent the better part of a decade at Fueled, I’ve worked on a wide range of projects with clients including <a href="https://bigpoint.net" target="_blank" rel="noopener">Bigpoint</a>, <strong>Vanity Fair</strong>, <strong>Pinterest</strong>, <a href="https://svclnk.com" target="_blank" rel="noopener">ServiceLink</a>, and <a href="https://omstars.com" target="_blank" rel="noopener">Omstars</a>. You can check out my <a href="/cv" download><abbr class="sc" title="curriculum vitae">CV</abbr></a> for the other parts of my role over the years.</p>
    <p>Just after graduating, the <strong>University of Reading</strong> in-house digital team were looking for a creative developer to redesign and redevelop the core website experience. For a year, I worked closely with almost every department in the university and, in 2014, I shipped the new site. It is still in use today on the <a href="https://rdg.ac.uk/library" target="_blank" rel="noopener">library homepage</a> and other integral parts of the prospective student journey.</p>
    <p>In a freelance capacity; I’ve built agency web presences for <a href="https://kickpush.co" rel="noopener" target="_blank">Kickpush</a>, rebranded sports journalists like Hotspur Related, and in 2013 I recorded an Envato Tuts+ course on <a href="https://webdesign.tutsplus.com/courses/responsive-web-design-techniques">Responsive web design techniques</a>. Other clients include <a href="https://www.unifie.com/" target="_blank" rel="noopener">Unifie</a>, and <a href="http://www.lodge192.com/" target="_blank" rel="noopener">Lion &amp; Lamb Lodge</a>.</p>
    <p>There are also fun side projects – like my dad’s <a href="https://ourdadmakes.pizza" target="_blank" rel="noopener">pizza recipe birthday microsite</a> and a <a href="http://legonotlegos.com" target="_blank" rel="noopener"><span class="sc">LEGO</span> naming pointer</a>.</p>

    <h2 class="h2">Let’s chat!</h2>
    <p class="mb0">If you’ve got a cool project you’d like me to build or you think my work experience makes me a good fit for your organisation, <a href="/contact">reach out!</a></p>
  </div>
</main>
