---
metaTitle: Work
metaDescription: Explore my employment history and get to know what I bring to the table.
heroTitle: A collection of internet contributions.
heroHeader: A curriculum vitae of sorts
layout: default
nav: work
sitemapPriority: 0.8
customCss: pages/work.scss
---

{% from "components/hero.html" import hero %}

{% set heroChildren %}
  <ul class="list--ul">
    <li class="cv-save"><button class="link" onclick="window.print()">Save as a <span class="sc">PDF</span> or print</button></li>
  </ul>
{% endset %}

{{ hero(heroTitle, header=heroHeader) }}

<main class="main cv links--external">
  <div class="group">
    <div class="cv-section--elevator">
      <h2 class="h2">Get to know&nbsp;Rob</h2>

      <h3 class="h3">The elevator pitch</h3>
      <p><span class="lead">Nice to meet you, I’m&nbsp;Rob!</span> I’m a frontend developer from London with an agency background, known for creating <strong>digital experiences</strong> and <strong>web apps</strong> for enterprise clients, start-ups, and everyone in&nbsp;between.</p>
      <p>With a first-class degree in design and typography, I am particularly well suited to <abbr class="sc" title="user interface">UI</abbr> development where I can focus on consistency and a strong&nbsp;<abbr class="sc" title="user experience">UX</abbr>. Understanding design allows me to collaborate confidently with designers to create a best product&nbsp;possible.</p>
      <p>I have management and mentoring experience, and take pride in always looking to support others around me while also learning, and improving my own&nbsp;knowledge.</p>

      <h3 class="h3">Skillset</h3>
      <p><span class="lead">A developer’s toolbelt requires continued maintenance,</span> so I aim to stay abreast of changes in the industry and keep learning to be able to provide the most solutions most suited to the problem at&nbsp;hand.</p>
      <p>Below are a few that I use currently, but it should be viewed fluidly with the understanding that <strong>with the a strong grasp of the fundamentals, new frameworks or techniques are picked up&nbsp;quickly.</strong></p>
      <dl class="list--ul">
        <div class="list__item">
          <dd>Core web languages</dd> <dt><span class="sc">HTML</span>, <span class="sc">CSS</span>, JavaScript</dt>
        </div>
        <div class="list__item">
          <dd><abbr title="JavaScript">JS</abbr> frameworks</dd> <dt>Vue, React</dt>
        </div>
        <div class="list__item">
          <dd>Build tools</dd> <dt>Webpack, Sass, Post<span class="sc">CSS</span>, Babel,&nbsp;Gulp</dt>
        </div>
        <div class="list__item">
          <dd><abbr title="Static site generation" class="sc">SSG</abbr></dd> <dt>Eleventy,&nbsp;Gatsby</dt>
        </div>
        <div class="list__item">
          <dd><abbr title="Continuous integration/continuous delivery" class="sc">CI/CD</abbr> &amp; collaboration</dd> <dt>Git, Netlify, Travis <span class="sc">CI</span>,&nbsp;<span class="sc">NPM</span></dt>
        </div>
        <div class="list__item">
          <dd>Software</dd> <dt>Sketch, Adobe <abbr span class="sc" title="Creative Cloud">CC</abbr>, <span class="sc">JIRA</span>,&nbsp;Linear</dt>
        </div>
      </dl>
    </div>

    <div class="cv-section--employment">
      <h2 class="h2">Employment &amp; life experiences</h2>

      <h3 class="h3">Fueled</h3>

      <p><span class="lead">In the six years at Fueled my role has evolved a lot.</span> After joining as a web designer, I transitioned into a <abbr class="sc" title="user interface">UI</abbr>-focused developer, took on management responsibilities, and was instrumental in forming a web department. Most recently I have moved into a maker role, centered around delivering the best solutions for our clients’&nbsp;problems.</p>
      <p>I’ve worked on high-profile projects like <strong>Apple</strong> where we built a gamified knowledge center to better inform employees when selling new devices; and bringing successful life-coaching to the web for <strong>Tony Robbins’ <span class="sr-only">Robbins </span>Research Institute</strong>. Other clients include <strong>Vanity Fair</strong>, <strong>Pinterest</strong>, <a href="https://svclnk.com" target="_blank" rel="noopener">ServiceLink</a>, and&nbsp;<a href="https://omstars.com" target="_blank" rel="noopener">Omstars</a>.</p>
      <p>Since joining – and with particular focus in the last few years – I have led the development on all things <a href="https://fueled.com" target="_blank" rel="noopener">fueled.com</a>. In 2018 we tore everything down and set about building a component library in line with the new brand direction. Part of the challenge was convincing stakeholders of behind-the-scenes changes for a more stable code base including publishing it as a private <span class="sc">NPM</span> package for better consumption across multiple&nbsp;repositories.</p>

      <ul class="list--ul">
        <li><time class="lead" datetime="2019-01">2020–present</time>&ensp;Lead Frontend Engineer II</li>
        <li><time class="lead" datetime="2019-01">2019–20</time>&ensp;Lead Frontend Engineer I</li>
        <li><time class="lead" datetime="2017-01">2017–19</time>&ensp;Senior Frontend Developer</li>
        <li><time class="lead" datetime="2015-06">2015–17</time>&ensp;Frontend Developer</li>
        <li><time class="lead" datetime="2014-07">2014–15</time>&ensp;Web Designer</li>
      </ul>

      <h3 class="h3">University of&nbsp;Reading</h3>

      <p><span class="lead">Throughout my degree I worked closely with the in-house design&nbsp;team,</span> and upon graduating was offered a full-time role as the new digital designer tasked with overhauling the core information pages on&nbsp;<a href="https://reading.ac.uk" target="_blank" rel="noopener">reading.ac.uk</a>.</p>
      <p>With a bit of project scope creep, I ended up being the sole designer and developer associated with a complete redesign and redevelopment of the main university pages with the aim of attracting prospective students and improving current student&nbsp;experience.</p>
      <p>The templates built in 2013 have stood the test of time are still used on parts of the such as the <a href="https://reading.ac.uk/library" target="_blank" rel="noopener">library&nbsp;pages</a>.</p>

      <ul class="list--ul">
        <li><time class="lead" datetime="2013-06P365D">2013–14</time>&ensp;Digital Designer</li>
      </ul>

      <h3 class="h3">Freelance design and development</h3>

      <p><span class="lead">While at university and since,</span> I have taken on select freelance projects to finance my bike obsession! I’ve built agency web presences for <strong>Kickpush</strong>, rebranded sports personalities like <strong>Hotspur Related</strong>, and – for a while – ran a successful channel on YouTube centered around designing brand identities for famous content creators like&nbsp;KSI. There are also fun side projects – like my dad’s pizza recipe birthday microsite and a <span class="sc">LEGO</span> naming pointer – in the list&nbsp;below:</p>

      <ul class="list--ul">
        <li><time class="lead" datetime="2020">2020</time>&ensp;<a href="http://legonotlegos.com" target="_blank" rel="noopener"><span class="sc">LEGO</span> not Legos</a>, <span class="soon">Mamma’s Ricette</span></li>
        <li><time class="lead" datetime="2019-01">2019</time>&ensp;<a href="https://ourdadmakes.pizza" target="_blank" rel="noopener">Our dad makes pizza</a></li>
        <li><time class="lead" datetime="2018">2018</time>&ensp;<a href="https://kickpush.co" target="_blank" rel="noopener">Kickpush</a></li>
        <li><time class="lead" datetime="2016">2016</time>&ensp;<a href="https://www.unifie.com/" target="_blank" rel="noopener">Unifie</a></li>
        <li><time class="lead" datetime="2015">2015</time>&ensp;<a href="https://www.permissiontoappeal.co.uk/" target="_blank" rel="noopener">Permission to Appeal</a></li>
        <li><time class="lead" datetime="2014">2014</time>&ensp;<a href="http://www.lodge192.com/" target="_blank" rel="noopener">Lion &amp; Lamb Lodge</a>, Hotspur Related</li>
        <li><time class="lead" datetime="2013-09">2013</time>&ensp;<a href="https://webdesign.tutsplus.com/courses/responsive-web-design-techniques">Responsive web design techniques</a> course for Envato Tuts+</li>
      </ul>
    </div>

    <div class="cv-section--education">
      <h3 class="h3">Outside of work</h3>

      <p><span class="lead">A balanced life is important,</span> and while I enjoy testing new develpment techniques in my evenings on occasion, you’re more likely to find me outside on my bike or running – I’ve been participating in triathlon since 2015. If you’re interested, you can delve a little deeper into <a href="/about">who I am aside from being a developer</a>.</p>

      <h3 class="h3">Higher education</h3>

      <p><span class="lead">In 2013 I graduated with a first-class honours</span> in <strong>Typography &amp; Graphic Communication&nbsp;<abbr class="sc" title="Batchelor of Arts">(BA)</abbr></strong> from University of Reading,&nbsp;UK.</p>

      <h2 class="h2">A few&nbsp;extras</h2>
      <dl class="list--ul">
        <div class="list__item">
          <dd>Full name</dd>
          <dt>Robbie Sterlini-Aitchison</dt>
        </div>
        <div class="list__item">
          <dd><abbr class="sc" title="Date of birth">DOB</abbr></dd>
          <dt>25 November&nbsp;1991</dt>
        </div>
        <div class="list__item">
          <dd>Pronouns</dd>
          <dt>he/him/his</dt>
        </div>
        <div class="list__item">
          <dd>Nationality</dd>
          <dt>British (eligible to work in the UK and&nbsp;remotely)</dt>
        </div>
        <div class="list__item">
          <dd>Spoken languages</dd>
          <dt>English&nbsp;(fluent), Italian&nbsp;(conversational), German&nbsp;(passing)</dt>
        </div>
      </dl>

      <p class="cv-references small">With agency work, projects are often taken in-house after our engagement ends – I can provide demos of my involvement in specific projects that may have changed since then. References are available on&nbsp;request.</p>

      <h3 class="h3">Get in touch</h3>

      <ul class="list--ul">
        <li><a href="/">robsterlini.co.uk</a></li>
        <li><a href="mailto:hi@robsterlini.co.uk" title="Email me">hi@robsterlini.co.uk</a></li>
        <li class="cv-save"><button class="link" onclick="window.print()">Save as a <span class="sc">PDF</span> or print</button></li>
      </ul>
    </div>
  </div>
</main>
