---
title: Rob Sterlini-Aitchison
layout: default
---

<section class="grid hero" id="hero">
  <figure class="hero__figure">
    <img class="hero__image" src="images/hero@2x.jpg" alt="" role="presentation" />
  </figure>
  <h1 class="heading hero__title">
    <span>Rob Sterlini-Aitchison</span>
  </h1>
  <p class="hero__subtitle">
    <span>Frontend developer, </span>
    <span>amateur triathlete, </span>
    <span>LEGO master builder </span>
    <span>&&nbsp;more&hellip;</span>
  </p>
</section>
<hr class="separator hero__separator" />
<section class="grid story">
  <h2 class="heading heading--h2 story__title">Every developer has a different origin&nbsp;story</h2>
  <div class="story__column story__column--1">
  <p><strong>2007</strong> Mine starts when I realised I was bad at RPGs, but was good at designing web graphics for players of RPGs. Forum signatures turned into forum skins which required code. No biggie, I learned to hack away at the PHP in front of me until it did what I needed it to.</p>
  <p><strong>2010</strong> From there I followed the digital design route and went to the University of Reading where I fell in love with typography. Web type was my bread and butter, and it allowed me to keep tinkering with code for personal projects, and freelance clients.</p>
  <p><strong>2013</strong> I graduated with a first, and stuck around to be the one-man design-development team behind the relaunch of the university website.</p>
  <p>As a freelance developer, I’ve had the pleasure of working with agencies like Kickpush to help them shape their web presence; brought a masonic lodge* into the digital age; worked with creatives in developing their visions for companies like Unifie. There was a time that I was the designer for KSI, but that’s a story for another day!</p>
  <p><em>*I’m not a mason, just a developer!</em></p>
  </div>
  <div class="story__column story__column--2">
    <p><strong>2014</strong> Craving a change of pace, I moved back to London to join Fueled – an agency focused on creative solutions to digital problems. I joined as a Web Designer, but found more and more enjoyment in building the experience for a user, not just deciding what it looked like.</p>
    <p>I’ve gamified employee experiences for Apple, engineered web experiences to rescue you when you’re locked out for FixFix, and helped visitors get the best value in London for Keetoo.</p>
    <p><strong>2020</strong> In the years since joining Fueled, I helped oversee the creation of a Frontend team, and then a web team in which it could live. I have mentored and managed people at project and personal level, and worked hard to bring in and iterate on standards for the team to improve collaboration and our effectiveness.</p>
    <p>As the lead developer on the internal Fueled website overhaul, I built a versioned component library so other developers could consistently communicate the Fueled brand.</p>
  </div>
</section>
<hr class="separator" />
<section class="grid life">
  <h2 class="heading heading--h2 life__title">Life is so much more than just the day&nbsp;job</h2>
</section>
